@charset "UTF-8";
/* gmes-defaults.css */
/* 
──────────────────────────────────────────────────────
TODO: Variáveis
────────────────────────────────────────────────────── */
/* Apple: 16px em 320w, e 22px em 736w. */
/* Padrão: 600-700px. */
/* Breakpoints */
/* Viewport to enable 'main_column-max_width'. */
/* $pc: 1000px; */
/* Cores E Planos De Fundos */
/*
$background-header: linear-gradient(to bottom, hsl(197,100%,78%) 0%,hsl(200,100%,76%) 10%,hsl(203,100%,71%) 25%,hsl(204,100%,72%) 37%,hsl(204,100%,73%) 50%,hsl(203,100%,67%) 51%,hsl(202,100%,76%) 83%,hsl(198, 100%, 84%) 100%); 
$background-nav: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%,hsl(193,100%,82%) 33%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);
$background-footer-icons: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);
$background-button: linear-gradient(to bottom right,hsl(197,100%,88%) 0%,hsl(200,100%,81%) 20%,hsl(203,100%,77%) 50%,hsl(204,100%,70%) 74%,hsl(204,100%,73%) 100%);
*/
/*  
──────────────────────────────────────────────────────
Modelo De Caixa Alternativo Global 
────────────────────────────────────────────────────── */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*  
──────────────────────────────────────────────────────
TODO: Margens
────────────────────────────────────────────────────── */
.lm, p, dl, footer .footer-icons, form label, h1, h2, h3, h4, h5, h6, pre, hr {
  /* Lateral margins */
  margin-left: calc(8px + (2.5vw));
  margin-right: calc(8px + (2.5vw));
}

@media (min-width: calc(800px + 66px)) {
  .lm, p, dl, footer .footer-icons, form label, h1, h2, h3, h4, h5, h6, pre, hr {
    /* margin-left: 30px;
        margin-right: calc(((100% - 800px) / 2) + 30px) ; */
  }
}

p, dl, footer .footer-icons, form label {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

/*  
──────────────────────────────────────────────────────
TODO: Textos
────────────────────────────────────────────────────── */
html {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-size: 1px;
  color: black;
}

div, span, h1, h2, h3, h4, h5, h6, p, a, em, i, strong, b, u,
ul, ol, li, dl, dt, dd, abbr, dfn, sub, sup, pre, var, kbd, samp,
code, time, address, blockquote, q, cite, figcaption, header,
nav, main, article, section, aside, footer, form, label, input,
textarea, select, button, fieldset, legend, table, tr, td, th, caption {
  font-size: 19rem;
}

header, main, article, section, aside, footer {
  font-size: 0;
}

a {
  color: blue;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  /* text-transform: capitalize; */
}

h1 {
  font-size: calc(44rem - (4 * 1rem));
  margin-top: calc(7rem - 1rem + 16rem);
  margin-bottom: calc(7rem - 1rem + 16rem);
}

h2 {
  font-size: calc(44rem - (4 * 2rem));
  margin-top: calc(7rem - 2rem + 16rem);
  margin-bottom: calc(7rem - 2rem + 16rem);
}

h3 {
  font-size: calc(44rem - (4 * 3rem));
  margin-top: calc(7rem - 3rem + 16rem);
  margin-bottom: calc(7rem - 3rem + 16rem);
}

h4 {
  font-size: calc(44rem - (4 * 4rem));
  margin-top: calc(7rem - 4rem + 16rem);
  margin-bottom: calc(7rem - 4rem + 16rem);
}

h5 {
  font-size: calc(44rem - (4 * 5rem));
  margin-top: calc(7rem - 5rem + 16rem);
  margin-bottom: calc(7rem - 5rem + 16rem);
}

h6 {
  font-size: calc(44rem - (4 * 6rem));
  margin-top: calc(7rem - 6rem + 16rem);
  margin-bottom: calc(7rem - 6rem + 16rem);
}

p {
  text-indent: 6rem;
  /* Sem justificar, usar: 4px */
}

ul, ol {
  margin-top: 16rem;
  margin-bottom: 16rem;
  margin-left: calc(2 * calc(8px + (2.5vw)));
  margin-right: calc(8px + (2.5vw));
}

/**/
@media (min-width: calc(800px + 66px)) {
  ul, ol {
    margin-left: calc(((100% - 800px) / 2) + 60px);
    margin-right: calc((100% - 800px) / 2);
  }
}

p, li, ul, ol, dl, dt, dd {
  line-height: 1.5;
}

dd {
  margin-left: 40rem;
}

strong, b, em, i {
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

abbr {
  text-decoration: none;
}

dfn, var, address, cite {
  font-style: normal;
}

var, kbd, samp, code {
  font-family: "Times New Roman", Times, Georgia, serif;
}

pre {
  font-family: "Courier New", Courier, monospace;
}

.font-small {
  font-size: 16rem;
}

.font-smaller, table caption {
  font-size: 14rem;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.justify {
  text-align: justify;
}

.font-monospace {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.no-capitalize {
  text-transform: none;
}

.spaced_items li + li {
  margin-top: 20rem;
}

/*  
──────────────────────────────────────────────────────
TODO: Seções De Layout
────────────────────────────────────────────────────── */
.header-content-width, main, footer {
  max-width: 800px;
  margin: auto;
}

.block-hack {
  /* Hack necessário pois o Safari não aceita 'position: sticky'. */
  height: 48px;
}

.header-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: white;
  background-color: #00c8ff;
  background-image: url(../../images/background-header.png);
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.6);
  /**/
}

.header-nav #id-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav #id-nav h1 {
  margin: 0;
  font-weight: normal;
}

.header-nav #id-nav a {
  height: 48rem;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav #id-nav .logo {
  margin-left: 13px;
}

.header-nav #id-nav .logo img {
  width: 22px;
  margin-right: 8px;
}

.header-nav .button-left {
  margin-right: -13px;
}

.header-nav #nav-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00c8ff;
  background: url(../../images/background-nav.png) center/100% 100%;
}

.header-nav #nav-menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-nav #nav-menu ul li {
  border-top: 1px solid white;
}

.header-nav #nav-menu ul li:last-of-type {
  border-bottom: 1px solid white;
}

.header-nav #nav-menu ul li:last-of-type a span {
  font-size: 33rem;
  text-align: center;
  color: white;
}

@media (min-width: 0) and (max-width: 501px) {
  .header-nav #nav-menu:target {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 501px) {
  .header-nav #id-nav .nav-button-right {
    display: none;
  }
  .header-nav #nav-menu {
    position: static;
    display: inline-block;
    background: 0;
  }
  .header-nav #nav-menu ul, .header-nav #nav-menu li {
    display: inline-block;
  }
  .header-nav #nav-menu ul {
    display: flex;
    justify-content: space-between;
  }
  .header-nav #nav-menu ul li {
    border-width: 0;
  }
  .header-nav #nav-menu ul li + li {
    margin-left: 20px;
  }
  .header-nav #nav-menu ul li:nth-last-of-type(2) {
    margin-right: 13px;
  }
  .header-nav #nav-menu ul li:last-of-type {
    display: none;
  }
}

footer {
  margin-top: calc(2 * 16rem);
}

footer .footer-icons {
  border-radius: 50px;
  background-color: #00c8ff;
  background: url(../../images/background-footer-icons.png) center/100% 100%;
  padding: 6px 0 0px;
  box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.22);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .footer-icons img {
  padding: 6px;
  border: 2px solid white;
  border-radius: 50%;
}

footer .copyright {
  font-size: 14rem;
  text-indent: 0;
  text-align: center;
  /*padding: 6px 0;
        margin: 14px 0 0;
        color: $menu-text-color;
        background-color: black;*/
}

/*  
──────────────────────────────────────────────────────
TODO: Formulários
────────────────────────────────────────────────────── */
form {
  margin: 16rem auto;
}

form label {
  display: block;
}

form label input, form label textarea {
  color: #999999;
  width: 100%;
  padding: 8rem 13rem;
  border: 1px solid #cccccc;
  border-radius: 19px;
  margin-top: 16rem;
  /* 
            border: 1px solid hsl(0, 0%, 93%); 
            filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.18)); <- Traz inconsistências entre os navegadores. */
}

form label input[type="file"] {
  color: transparent;
  border-radius: 0;
  filter: none;
}

form label input[type="radio"], form label input[type="checkbox"] {
  width: auto;
  margin-top: 0;
  margin-right: 6px;
}

form label textarea {
  vertical-align: top;
  /* Alinha os <textarea>'s com seus rótulos */
  height: 84rem;
}

form input:placeholder-shown {
  color: red;
}

form p {
  text-indent: 0;
}

form fieldset {
  border-width: 0;
}

form select {
  display: block;
  margin-top: 16rem;
  margin-bottom: 16rem;
  /* border-radius: 100px; <- Traz inconsistências entre os navegadores. */
}

form button {
  min-width: 120px;
  color: white;
  padding: 10rem 0;
  border-width: 0;
  border-radius: 1000px;
  margin-top: 16rem;
  margin-bottom: 16rem;
  background-image: url(../../images/background-button.png);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -4px 5px 3px rgba(0, 0, 0, 0.15), inset 5px 5px 5px 0px rgba(255, 255, 255, 0.4);
}

form button:disabled {
  opacity: 0.5;
}

form .textarea-2l {
  height: calc(62rem + ( (2 - 2) * 22rem));
}

form .textarea-3l {
  height: calc(62rem + ( (3 - 2) * 22rem));
}

form .textarea-4l {
  height: calc(62rem + ( (4 - 2) * 22rem));
}

form .textarea-5l {
  height: calc(62rem + ( (5 - 2) * 22rem));
}

form .textarea-6l {
  height: calc(62rem + ( (6 - 2) * 22rem));
}

form .textarea-7l {
  height: calc(62rem + ( (7 - 2) * 22rem));
}

form .textarea-8l {
  height: calc(62rem + ( (8 - 2) * 22rem));
}

form strong {
  text-decoration: none;
}

form input:focus, form textarea:focus {
  outline: 0px dotted;
  border: 1px solid #00c8ff;
}

form input[type="file"]:focus {
  outline: 1px solid #00c8ff;
}

form input[type="radio"]:focus, form input[type="checkbox"]:focus {
  outline: 1px solid #00c8ff;
}

form select:focus {
  outline: 0px dotted;
  border: 1px solid #00c8ff;
  /* border-radius: 100px; <- Traz inconsistências entre os navegadores. */
}

form button:focus {
  outline: 2px dotted #00c8ff;
}

/*  
──────────────────────────────────────────────────────
TODO: Tabelas
────────────────────────────────────────────────────── */
table {
  max-width: calc(100% - 2 * calc(8px + (2.5vw)));
  margin: 16rem auto;
  border: 2px solid #00c8ff;
  border-collapse: collapse;
  caption-side: bottom;
}

table th {
  color: #00c8ff;
  border: 2px solid #00c8ff;
}

table tr + tr {
  border-top: 1px solid #d9d9d9;
}

table td + td {
  border-left: 1px solid #d9d9d9;
}

table th, table td {
  padding: 6px;
}

table td {
  text-align: center;
}

table caption {
  margin-top: calc(16rem/2);
}

table ul, table ol {
  /* <- Regra para caso tenha lista na tabela. */
  padding-left: 27rem;
  margin: 0;
}

@media (min-width: calc(800px + 66px)) {
  table {
    max-width: 800px;
  }
}

/*
.table-style-1 {
     Estilo padrão. 
}
*/
.table-style-2 {
  width: 100%;
  max-width: none;
  border-width: 0;
  border-bottom: 2px solid #00c8ff;
}

.table-style-2 tr:nth-of-type(1) {
  border-bottom: 2px solid #00c8ff;
}

.table-style-2 th {
  border-width: 0;
}

.table-style-2 th:nth-child(1) {
  color: black;
}

.table-style-2 td + td {
  border-width: 0;
}

@media (min-width: 501px) {
  .table-style-2 {
    width: auto;
  }
}

@media (min-width: calc(800px + 66px)) {
  .table-style-2 {
    max-width: 800px;
  }
}

.table-style-3 {
  border-width: 0;
}

.table-style-3 tr + tr {
  border-width: 0;
}

.table-style-3 th {
  border-width: 0;
  text-align: left;
}

/*----- .table-style-4 -----*/
@media (min-width: 0) and (max-width: 501px) {
  .table-style-4 {
    border-width: 0;
  }
  .table-style-4 tr {
    border-width: 0;
  }
  .table-style-4 tr {
    margin-bottom: 16rem;
  }
  .table-style-4 tr, .table-style-4 th, .table-style-4 td {
    display: block;
  }
  .table-style-4 th {
    border-width: 0;
    border-bottom: 1px solid;
    text-align: center;
  }
  .table-style-4 td {
    text-align: left;
  }
  .table-style-4 td:nth-of-type(1) {
    margin-top: 16rem;
  }
  .table-style-4 li + li {
    margin-top: 20rem;
  }
}

@media (min-width: 501px) {
  .table-style-4 {
    border-width: 0;
  }
  .table-style-4 tr {
    border-width: 0;
  }
  .table-style-4 th, .table-style-4 td {
    border-width: 0;
  }
  .table-style-4 td {
    text-align: left;
  }
}

/*  
──────────────────────────────────────────────────────
TODO: Others
────────────────────────────────────────────────────── */
body {
  min-width: 300px;
  margin: auto;
}

hr {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

figcaption {
  margin-top: calc(16rem/2);
  text-align: center;
  font-size: 16rem;
}

img, video {
  width: auto;
}

@media (min-width: 501px) {
  img, video {
    /*
    max-width: $main_column-max_width;
        max-width: calc(100% - 2 * calc(((100% - 800px) / 2) + 30px) );
        margin-left: calc(((100% - 800px) / 2) + 30px) ;
        margin-right: calc(((100% - 800px) / 2) + 30px) ;
*/
  }
}

audio {
  height: 45rem;
  display: block;
  max-width: calc(100vw - 2 * calc(8px + (2.5vw)));
  margin-top: 16rem;
  margin-bottom: 16rem;
}

/* 
a:focus {
    outline: 2px dotted $menu-base_color; 
}
*/
.center-block {
  margin-left: auto;
  margin-right: auto;
}

.lb {
  /* Line break */
  margin-top: calc(1* 16rem);
  margin-bottom: calc(1* 16rem);
  /*  */
}

.lb2 {
  margin-top: calc(2* 16rem);
  margin-bottom: calc(2* 16rem);
}

.lb3 {
  margin-top: calc(3* 16rem);
  margin-bottom: calc(3* 16rem);
}

.line {
  border: 1px solid black;
}

.hidden {
  display: none;
}

.central_img {
  width: 100%;
}

@media (min-width: 501px) {
  .central_img {
    width: calc(100% - (2 * calc(8px + (2.5vw))));
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ---------------------------- */
/*  
──────────────────────────────────────────────────────
TODO: Gallery
────────────────────────────────────────────────────── */
.gallery {
  overflow-x: auto;
  white-space: nowrap;
}

@media (pointer: fine) {
  .gallery {
    overflow-x: hidden;
  }
  .gallery:hover {
    overflow-x: auto;
  }
}

.gallery img, .gallery picture {
  width: 94%;
}

/* 

.gallery {
    overflow-x: hidden;
    white-space: nowrap;
}

.gallery:hover {
    overflow-x: auto;
}

@media (pointer: coarse), (pointer: none) {

    .gallery {
        overflow-x: auto;
    }
}






MEDIA 

Maior que mobile:

input[type="file"] {
    color: $form-text-color;
}

*/
