@charset "UTF-8";
/* gmes-defaults.css */
/* 
──────────────────────────────────────────────────────
TODO: Variáveis
────────────────────────────────────────────────────── */
/* Padrão: 600-700px. */
/* Apple: 16px em 320w, e 22px em 736w. */
/* ------ Breakpoints ------ */
/* $pc: 1000px; */
/* ------ Cores E Planos De Fundos ------ */
/*
$bg_header: linear-gradient(to bottom, hsl(197,100%,78%) 0%,hsl(200,100%,76%) 10%,hsl(203,100%,71%) 25%,hsl(204,100%,72%) 37%,hsl(204,100%,73%) 50%,hsl(203,100%,67%) 51%,hsl(202,100%,76%) 83%,hsl(198, 100%, 84%) 100%); 
$bg_nav_1: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%,hsl(193,100%,82%) 33%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);
$bg_footer_icons: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);
$bg_button: linear-gradient(to bottom right,hsl(197,100%,88%) 0%,hsl(200,100%,81%) 20%,hsl(203,100%,77%) 50%,hsl(204,100%,70%) 74%,hsl(204,100%,73%) 100%);
*/
/* ------ z-index's ------ */
/*  
──────────────────────────────────────────────────────
Modelo De Caixa Alternativo Global 
────────────────────────────────────────────────────── */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*  
──────────────────────────────────────────────────────
TODO: Margens
────────────────────────────────────────────────────── */
.offset, .offset.choice_h, .offset.choice_v, .offset.choice_d, p, dl, .footer-content .footer-icons, form label, h1, h2, h3, h4, h5, h6, pre, hr {
  /* Lateral margins */
  margin-left: 20px;
  margin-right: 20px;
}

.choice_h.offset, p.choice_h, dl.choice_h, .footer-content .choice_h.footer-icons, form label.choice_h, h1.choice_h, h2.choice_h, h3.choice_h, h4.choice_h, h5.choice_h, h6.choice_h, pre.choice_h, hr.choice_h {
  display: flex;
}

p, dl, .footer-content .footer-icons, form label {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

/*  
──────────────────────────────────────────────────────
TODO: Textos
────────────────────────────────────────────────────── */
html {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-size: 1px;
  color: black;
}

span, h1, h2, h3, h4, h5, h6, p, a, em, i, strong, b, u, ul, ol, li, dt, dd,
abbr, dfn, sub, sup, pre, var, kbd, samp, code, time, address, blockquote,
q, cite, figcaption, form, label, input, textarea, select, button, fieldset,
legend, table, tr, td, th, caption {
  font-size: 19rem;
}

div, header, nav, main, article, section, aside, footer {
  font-size: 0;
}

a {
  color: blue;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  /* text-transform: capitalize; */
}

h1 {
  font-size: calc(44rem - (4 * 1rem));
  margin-top: calc(7rem - 1rem + 16rem);
  margin-bottom: calc(7rem - 1rem + 16rem);
}

h2 {
  font-size: calc(44rem - (4 * 2rem));
  margin-top: calc(7rem - 2rem + 16rem);
  margin-bottom: calc(7rem - 2rem + 16rem);
}

h3 {
  font-size: calc(44rem - (4 * 3rem));
  margin-top: calc(7rem - 3rem + 16rem);
  margin-bottom: calc(7rem - 3rem + 16rem);
}

h4 {
  font-size: calc(44rem - (4 * 4rem));
  margin-top: calc(7rem - 4rem + 16rem);
  margin-bottom: calc(7rem - 4rem + 16rem);
}

h5 {
  font-size: calc(44rem - (4 * 5rem));
  margin-top: calc(7rem - 5rem + 16rem);
  margin-bottom: calc(7rem - 5rem + 16rem);
}

h6 {
  font-size: calc(44rem - (4 * 6rem));
  margin-top: calc(7rem - 6rem + 16rem);
  margin-bottom: calc(7rem - 6rem + 16rem);
}

p, li, ul, ol, dl, dt, dd {
  line-height: 1.5;
}

p {
  text-indent: 6rem;
  /* Sem justificar, usar: 4px */
}

ul, ol {
  margin-top: 16rem;
  margin-bottom: 16rem;
  margin-left: calc(1 * 20px + 21px);
  margin-right: 20px;
}

ul {
  list-style-type: "➭ ";
}

ul ul {
  list-style-type: "● ";
}

ul ul ul {
  list-style-type: "- ";
}

dt {
  font-weight: bold;
  margin-top: 16rem;
}

dd {
  margin-left: 0;
}

dt + dd {
  margin-top: 16rem;
}

dt:nth-of-type(1) {
  margin-top: 0;
}

@media (min-width: 501px) {
  dd {
    margin-left: 30rem;
  }
}

strong, b, em, i {
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

abbr {
  text-decoration: none;
}

dfn, var, address, cite {
  font-style: normal;
}

var, kbd, samp, code {
  font-family: "Times New Roman", Times, Georgia, serif;
}

kbd {
  font-size: 15rem;
  background: #dbdbdb;
  padding: 1px 5px;
  border: 4px outset #f2f2f2;
  border-radius: 5px;
}

code {
  font-family: "Courier New", Courier, monospace;
}

pre {
  font-family: "Courier New", Courier, monospace;
}

.font-small {
  font-size: 16rem;
}

.font-smaller, table caption {
  font-size: 14rem;
}

/*
.underline {
  text-decoration: underline;
}

.bold { 
    font-weight: bold; 
}

.italic {
    font-style: italic;
}
*/
.font-monospace {
  font-family: "Courier New", Courier, monospace;
}

.spaced_items > li + li, .spaced_items > dd + dd {
  margin-top: 16rem;
}

.star {
  list-style-type: "✰ ";
}

/*  
──────────────────────────────────────────────────────
TODO: Seções De Layout
────────────────────────────────────────────────────── */
/*  
────────────────────────────
TODO:    > Central
──────────────────────────── */
.central, .header-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/*  
────────────────────────────
TODO:    > Header-nav
──────────────────────────── */
.block-hack {
  /* Hack necessário pois o Safari não aceita 'position: sticky'. */
  height: 48rem;
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 64;
  color: white;
  background-color: #00c8ff;
  background: url(../../images/bg_header.png) center/100% 100%;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.6);
  /*  
────────────────────────────
TODO:         >> Menu
──────────────────────────── */
  /*  
────────────────────────────
TODO:         >> Expandido
──────────────────────────── */
}

.header-nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav .nav h1 {
  margin: 0;
  margin-top: -1px;
  font-weight: normal;
}

.header-nav .nav a {
  height: 48rem;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav .nav .logo {
  margin-left: 14px;
}

.header-nav .nav .logo img {
  width: 22px;
  margin-right: 8px;
}

.header-nav .button-left {
  margin-right: -13px;
}

.header-nav .nav-menu-button {
  margin-right: 1px;
}

.header-nav .nav-menu-button :nth-child(2) {
  display: none;
  justify-content: center;
  align-items: center;
  width: 48px;
  font-size: 32px;
  text-align: center;
  color: white;
}

.header-nav .nav-menu {
  display: none;
  position: fixed;
  top: 48rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-nav .nav-menu ul {
  /*position: fixed;
            top: calc(2 * 48rem); */
  width: 100%;
  max-height: calc(100% - (1 * 48rem));
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: url(../../images/bg_nav_1.png) center/100% 100%;
  overflow: auto;
}

.header-nav .nav-menu ul li {
  border-top: 1px solid white;
}

.header-nav .nav-menu ul li div {
  display: none;
}

.header-nav .nav-menu ul li div ul {
  background: url(../../images/bg_nav_selector.png) center/100% 100%;
}

.header-nav .nav-menu ul li:nth-last-child(2) {
  border-bottom: 1px solid white;
}

.header-nav .nav-menu li:nth-last-child(1) {
  border-top: 0;
  border-bottom: 0;
  /*a{
                    span {
                        font-size: 32rem;
                        text-align: center;
                        color: $color_text_menu;
                    }
                }*/
}

.header-nav .nav-menu > ul {
  margin: 48rem 0 0 0;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.header-nav .nav-menu > ul > li:last-of-type {
  display: none;
}

.header-nav .nav-menu > ul > li > a img {
  margin-right: 6px;
}

.header-nav .nav-menu ul li ul a {
  height: auto;
  min-height: 48rem;
}

.header-nav .nav-menu ul li ul a span {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
}

.header-nav .nav-menu ul li ul a span img {
  margin-right: 8px;
}

.header-nav .nav-menu ul::-webkit-scrollbar {
  width: 10px;
  height: 11px;
}

.header-nav .nav-menu ul::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}

.header-nav .nav-menu ul {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.14) rgba(255, 255, 255, 0.4);
}

@media (pointer: fine) {
  .header-nav .nav-menu ul {
    overflow: hidden;
  }
  .header-nav .nav-menu ul:hover {
    overflow: auto;
  }
}

@media (min-width: 565px) {
  .header-nav .nav .nav-menu-button {
    display: none;
  }
  .header-nav .nav-menu {
    position: static;
    display: inline-block;
    background: 0;
  }
  .header-nav .nav-menu > ul, .header-nav .nav-menu > ul > li {
    display: inline-block;
  }
  .header-nav .nav-menu > ul {
    margin: 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    background: url(../../images/bg_header.png) center/100% 100%;
  }
  .header-nav .nav-menu > ul > li {
    border-width: 0;
  }
  .header-nav .nav-menu > ul > li + li {
    margin-left: 20px;
  }
  .header-nav .nav-menu > ul > li:nth-last-of-type(2) {
    border-width: 0;
  }
  .header-nav .nav-menu > ul > li:nth-last-of-type(1) {
    border-width: 0;
    display: block;
    margin-left: 11px;
  }
  .header-nav .nav-menu > ul > li:nth-last-of-type(1) a {
    font-size: 32rem;
  }
  .header-nav .nav-menu > ul > li:nth-last-of-type(1) a img {
    width: 48rem;
    margin-right: 2px;
  }
  .header-nav .nav-menu ul li div {
    display: none;
    position: fixed;
    top: 48rem;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../../images/bg_nav_2.png) center/100% 100%;
    text-align: center;
  }
  .header-nav .nav-menu ul li div ul {
    display: inline-block;
    width: auto;
    min-width: 240px;
    max-width: calc(100% - (2 * 48rem));
    max-height: calc(100% - (2 * 48rem));
    border-radius: 25px;
    margin-top: 48rem;
    background-color: #00c8ff;
    background: url(../../images/bg_nav_1.png) center/100% 100%;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.26);
  }
  .header-nav .nav-menu ul li div ul li:nth-child(1) {
    border-top: 0;
  }
  .header-nav .nav-menu ul li div ul li:nth-of-type(1):hover {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .header-nav .nav-menu ul li div ul li:nth-last-child(1):hover {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

@media (min-width: 565px) and (max-height: 501px) {
  .header-nav {
    left: 8px;
    right: 8px;
  }
  .header-nav {
    border-radius: calc(48rem/2);
  }
  .nav-menu > ul {
    border-top-right-radius: calc(48rem/2);
    border-bottom-right-radius: calc(48rem/2);
  }
  .header-nav {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.28);
  }
  .header-nav .nav > :nth-child(1) {
    margin-left: 4px;
  }
  .header-nav .nav-menu > ul > li:nth-last-of-type(1) {
    margin-right: 6px;
  }
}

.headerNav-button {
  display: none;
  width: 48rem;
  height: 48rem;
  border-radius: 11px;
  position: fixed;
  top: 9px;
  right: 9px;
  z-index: 64;
  background: url(../../images/bg_header.png) center/100% 100%;
  font-size: 19rem;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.28);
  /*
    border-radius: 0px;
    border-bottom-left-radius: 6px;
    top: 0px; right: 0px;
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.6);
    */
}

.headerNav-button img {
  width: inherit;
  height: inherit;
}

/*  
────────────────────────────
TODO:    > Footer
──────────────────────────── */
.footer-content {
  margin-top: calc(2 * 16rem);
}

.footer-content .footer-icons {
  border-radius: 50px;
  background-color: #00c8ff;
  background: url(../../images/bg_footer_icons.png) center/100% 100%;
  padding: 6px 0 0px;
  box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.22);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-content .footer-icons img {
  padding: 6px;
  border: 2px solid white;
  border-radius: 50%;
}

.footer-content .copyright {
  font-size: 14rem;
  text-indent: 0;
  text-align: center;
  /*padding: 6px 0;
        margin: 14px 0 0;
        color: $color_text_menu;
        background-color: black;*/
}

/*  
────────────────────────────
TODO:    > Classes
──────────────────────────── */
/*
.nav_poster_margins { // <- Desisti desta ideia.
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
} 
*/
@media (min-width: 565px) {
  .nav_expanded_subOptions_h {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
  }
  .nav_expanded_subOptions_h li {
    display: inline-block;
    border-width: 0 !important;
    /*> a {
                display: inline-flex;
                flex-direction: column;
            }*/
  }
}

.nav_subOptions_textBelow li > a {
  display: inline-flex;
  flex-direction: column;
}

@media (max-width: 565px) {
  .nav_compact_subOptions_textBelow li > a {
    display: inline-flex;
    flex-direction: column;
  }
}

@media (min-width: 565px) {
  .nav_expanded_subOptions_textBelow li > a {
    display: inline-flex;
    flex-direction: column;
  }
}

/*  
──────────────────────────────────────────────────────
TODO: Multimídia
────────────────────────────────────────────────────── */
/*.textImg_evenSize {
    max-width: 18px; 
    margin-bottom: -4px;
}*/
.textImg {
  max-width: 19px;
  margin-bottom: -5px;
}

.textImg_Size {
  max-width: 19px;
}

figcaption {
  margin-top: calc(16rem/2);
  text-align: center;
  font-size: 16rem;
}

audio {
  height: 45rem;
  display: block;
  max-width: calc(100vw - 2 * 20px);
  margin-top: 16rem;
  margin-bottom: 16rem;
}

figure.center {
  text-align: center;
}

/*  
──────────────────────────────────────────────────────
TODO: Tabelas
────────────────────────────────────────────────────── */
table {
  max-width: calc(100% - 2 * 20px);
  margin: 16rem auto;
  border: 1px solid #00c8ff;
  border-collapse: collapse;
  caption-side: bottom;
  font-weight: normal;
}

table th {
  color: #00c8ff;
  border: 1px solid #00c8ff;
  font-weight: normal;
}

table tr:hover {
  background: #f5fdff;
}

table tr:nth-of-type(1):hover {
  background: 0;
}

table tr + tr {
  border-top: 1px solid #d9d9d9;
}

table td + td {
  border-left: 1px solid #d9d9d9;
}

table th, table td {
  padding: 6px;
}

table td {
  text-align: center;
}

table caption {
  margin-top: calc(16rem/2);
}

table ul, table ol {
  /* <- Regra para caso tenha lista na tabela. */
  padding-left: 27rem;
  margin: 0;
}

/*
.table-style-1 {
     Estilo padrão. 
}
*/
.table-style-2 {
  width: 100%;
  max-width: none;
  border-width: 0;
  border-bottom: 1px solid #00c8ff;
}

.table-style-2 tr:nth-of-type(1) {
  border-bottom: 1px solid #00c8ff;
}

.table-style-2 th {
  border-width: 0;
}

.table-style-2 th:nth-child(1) {
  color: black;
}

.table-style-2 td + td {
  border-width: 0;
}

@media (min-width: 501px) {
  .table-style-2 {
    width: auto;
    max-width: calc(100% - 2 * 20px);
  }
}

.table-style-3 {
  border-width: 0;
}

.table-style-3 tr:hover {
  outline: 1px solid #00c8ff;
}

.table-style-3 tr:nth-of-type(1):hover {
  background: #f5fdff;
}

.table-style-3 tr + tr {
  border-width: 0;
}

.table-style-3 th {
  border-width: 0;
  text-align: left;
}

/*----- .table-style-4 -----*/
@media (min-width: 0) and (max-width: 501px) {
  .table-style-4 {
    border-width: 0;
  }
  .table-style-4 tr {
    border-width: 0;
    margin-bottom: 16rem;
  }
  .table-style-4 tr:hover {
    background: 0;
  }
  .table-style-4 tr, .table-style-4 th, .table-style-4 td {
    display: block;
  }
  .table-style-4 th {
    border-width: 0;
    border-bottom: 1px solid #00c8ff;
    text-align: center;
  }
  .table-style-4 td {
    text-align: left;
  }
  .table-style-4 td:nth-of-type(1) {
    margin-top: 16rem;
  }
  .table-style-4 li + li {
    margin-top: 20rem;
  }
}

@media (min-width: 501px) {
  .table-style-4 {
    border-width: 0;
  }
  .table-style-4 tr {
    border-width: 0;
  }
  .table-style-4 tr:hover {
    background: 0;
  }
  .table-style-4 th, .table-style-4 td {
    border-width: 0;
  }
  .table-style-4 td {
    text-align: left;
  }
}

/*  
──────────────────────────────────────────────────────
TODO: Formulários
────────────────────────────────────────────────────── */
form {
  margin: 16rem auto;
}

form label {
  display: block;
}

form label input, form label textarea {
  color: black;
  width: 100%;
  padding: 8rem 13rem;
  border: 1px solid #cccccc;
  border-radius: 19px;
  margin-top: 16rem;
  /* 
            border: 1px solid hsl(0, 0%, 93%); 
            filter: drop-shadow(0px 6px 9px hsla(0, 0%, 0%, 0.18)); <- Traz inconsistências entre os navegadores. */
}

form label input[type="file"] {
  color: transparent;
  border-radius: 0;
  filter: none;
}

form label input[type="radio"], form label input[type="checkbox"] {
  width: auto;
  margin-top: 0;
  margin-right: 6px;
}

form label textarea {
  vertical-align: top;
  /* Alinha os <textarea>'s com seus rótulos */
  height: 84rem;
}

form input::placeholder, form textarea::placeholder {
  color: #adadad;
}

form p {
  text-indent: 0;
}

form fieldset {
  border-width: 0;
}

form select {
  /*
        display: block;
        margin-top: $margin_vertical;
        margin-bottom: $margin_vertical;*/
  border-radius: 5px;
  /* <- Traz inconsistências entre os navegadores. */
  height: 39rem;
  color: #adadad;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #cccccc;
  padding: 0 6px;
}

form button {
  min-width: 120px;
  color: white;
  padding: 10rem 0;
  border-width: 0;
  border-radius: 100px;
  margin-top: 16rem;
  margin-bottom: 16rem;
  background: url(../../images/bg_button.png) center/100% 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -4px 5px 3px rgba(0, 0, 0, 0.15), inset 5px 5px 5px 0px rgba(255, 255, 255, 0.4);
}

form button:disabled {
  opacity: 0.5;
}

form .textarea-2l {
  height: calc(62rem + ( (2 - 2) * 22rem));
}

form .textarea-3l {
  height: calc(62rem + ( (3 - 2) * 22rem));
}

form .textarea-4l {
  height: calc(62rem + ( (4 - 2) * 22rem));
}

form .textarea-5l {
  height: calc(62rem + ( (5 - 2) * 22rem));
}

form .textarea-6l {
  height: calc(62rem + ( (6 - 2) * 22rem));
}

form .textarea-7l {
  height: calc(62rem + ( (7 - 2) * 22rem));
}

form .textarea-8l {
  height: calc(62rem + ( (8 - 2) * 22rem));
}

form strong {
  text-decoration: none;
}

form input:focus, form textarea:focus {
  outline: 0px dotted;
  border: 1px solid #00c8ff;
}

form input[type="file"]:focus {
  outline: 1px solid #00c8ff;
}

form input[type="radio"]:focus, form input[type="checkbox"]:focus {
  outline: 1px solid #00c8ff;
}

form select:focus {
  outline: 0px dotted;
  border: 1px solid #00c8ff;
  /* border-radius: 100px; <- Traz inconsistências entre os navegadores. */
}

form button:focus {
  outline: 2px dotted #00c8ff;
}

/*  
──────────────────────────────────────────────────────
TODO: Outros
────────────────────────────────────────────────────── */
body {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

@media (min-width: calc(800px + 60px)) {
  hr {
    margin-left: 0;
    margin-right: 0;
  }
}

a {
  cursor: pointer;
}

/*
.content-left {
    text-align: left;
}

.content-center {
    text-align: center;
}

.content-right {
    text-align: right;
}

.content-justify {
    text-align: justify;
}
*/
.center:not(figure) {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center.choice_h {
  display: flex;
}

.lb {
  /* Line break */
  margin-top: calc(1* 16rem);
  margin-bottom: calc(1* 16rem);
  /*  */
}

.lb2 {
  margin-top: calc(2* 16rem);
  margin-bottom: calc(2* 16rem);
}

.lb3 {
  margin-top: calc(3* 16rem);
  margin-bottom: calc(3* 16rem);
}

.line {
  border: 1px solid black;
}

.hidden {
  display: none;
}

.button_small_height {
  height: 39rem;
}

/*
──────────────────────────────────────────────────────
TODO: Componentes
────────────────────────────────────────────────────── */
/*  
────────────────────────────
TODO:    > Outdoor
──────────────────────────── */
img.outdoor, video.outdoor {
  width: 100%;
}

@media (min-width: 501px) {
  img.outdoor, video.outdoor {
    display: block;
    width: calc(100% - (2 * 20px));
    margin-left: auto;
    margin-right: auto;
  }
}

figure.outdoor img {
  width: 100%;
}

@media (min-width: 501px) {
  figure.outdoor {
    width: calc(100% - (2 * 20px));
    margin-left: auto;
    margin-right: auto;
  }
}

/*  
────────────────────────────
TODO:    > Gallery
──────────────────────────── */
.gallery img {
  width: 50%;
}

@media (min-width: 501px) {
  .gallery {
    margin-left: 20px;
    margin-right: 20px;
  }
  .gallery img {
    width: 25%;
  }
}

/*  
────────────────────────────
TODO:    > Slider
──────────────────────────── */
.slider {
  overflow-x: auto;
  white-space: nowrap;
}

@media (min-width: 501px) {
  .slider {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (pointer: fine) {
  .slider {
    overflow-x: hidden;
  }
  .slider:hover {
    overflow-x: auto;
  }
}

.slider img, .slider picture {
  width: 94%;
}

.slider::-webkit-scrollbar {
  height: 12px;
  /* 15 */
}

.slider::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
  /* border: 3px outset adjust-color($color_theme, $lightness: 25%); */
}

.slider::-webkit-scrollbar-track {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  /* */
}

/*  
────────────────────────────
TODO:    > Choice 
──────────────────────────── */
.choice_h, .choice_v, .choice_d {
  display: inline-block;
  font-size: 0;
  -moz-width: fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.choice_h > li a, .choice_v > li a, .choice_d > li a {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.choice_h > li span, .choice_v > li span, .choice_d > li span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.choice_h > li span > img, .choice_v > li span > img, .choice_d > li span > img {
  margin-right: 6px;
}

/*  
────────────────────────────
TODO:         >> Horizontal
──────────────────────────── */
.choice_h {
  display: inline-flex;
  border-radius: 1000px;
  background: url(../../images/bg_button.png) center/100% 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -4px 5px 3px rgba(0, 0, 0, 0.15), inset 5px 5px 5px 0px rgba(255, 255, 255, 0.4);
}

.choice_h > li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 39rem;
}

.choice_h > li a {
  min-height: 39rem;
}

.choice_h > li span {
  padding: 0 10px;
}

.choice_h > li:nth-of-type(1) {
  border-right: 1px solid white;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  background: url(../../images/bg_choice_label.png) center/100% 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -4px 5px 3px rgba(0, 0, 0, 0.15), inset 5px 5px 5px 0px rgba(255, 255, 255, 0.4);
}

.choice_h > li:nth-of-type(1) span {
  padding-left: 15px;
}

.choice_h > li:nth-of-type(2) {
  border-left-width: 0px;
}

.choice_h > li:nth-last-of-type(1) > a > img {
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.choice_h > li:nth-last-of-type(1) span {
  padding-right: 15px;
}

.choice_h > li a:hover {
  background: rgba(255, 255, 255, 0.45);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.choice_h > li:nth-of-type(1) a:hover {
  background: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.choice_h > li + li {
  border-left: 1px solid white;
}

/*  
────────────────────────────
TODO:         >> Vertical
──────────────────────────── */
.choice_v {
  border-radius: 20px;
  background: url(../../images/bg_button.png) center/100% 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -4px 5px 3px rgba(0, 0, 0, 0.15), inset 5px 5px 5px 0px rgba(255, 255, 255, 0.4);
}

.choice_v > li {
  display: flex;
  align-items: center;
  min-height: 48rem;
}

.choice_v > li a {
  min-height: 48rem;
}

.choice_v > li span {
  padding: 0px 19px 0px 17px;
}

.choice_v > li a:hover {
  background: rgba(255, 255, 255, 0.45);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.choice_v > li:nth-of-type(1) a:hover {
  background: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.choice_v > li:nth-of-type(1) {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  justify-content: center;
  background: url(../../images/bg_choice_label.png) center/100% 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -4px 5px 3px rgba(0, 0, 0, 0.15), inset 5px 5px 5px 0px rgba(255, 255, 255, 0.4);
}

.choice_v > li:nth-of-type(1) a {
  display: flex;
  justify-content: center;
}

.choice_v > li:nth-last-of-type(1) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.choice_v > li:nth-last-of-type(1) > a > img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.choice_v > li + li {
  border-top: 1px solid white;
}

/*  
────────────────────────────
TODO:         >> Dropdown
──────────────────────────── */
.choice_d {
  border-radius: 20px;
  background: url(../../images/bg_button.png) center/100% 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -4px 5px 3px rgba(0, 0, 0, 0.15), inset 5px 5px 5px 0px rgba(255, 255, 255, 0.4);
}

.choice_d > li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 39rem;
}

.choice_d > li span {
  padding: 0 11px 0 15px;
}

.choice_d > li > a > img {
  border-radius: 20px;
}

.choice_d > li span::after {
  content: "▼";
  margin-left: 5rem;
}

.choice_d > li:not(:nth-of-type(1)) {
  display: none;
}

.choice_d > li:nth-of-type(1) {
  background: 0;
  cursor: pointer;
}

.choice_d > li:nth-of-type(1) > img {
  border-radius: 20px;
}

.choice_d.choice_d_open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 128;
  width: auto;
  margin: 0;
  border-radius: 0px;
  background: url(../../images/bg_choice_d_open.png) center/100% 100%;
  overflow-y: auto;
  /* @media (min-width: $tablet) and (min-height: $tablet) {  > li { position: relative; top: calc(3 * 39rem); } } */
}

.choice_d.choice_d_open > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 39rem;
  width: 100%;
}

.choice_d.choice_d_open > li > a {
  flex-grow: 1;
  justify-content: center;
}

.choice_d.choice_d_open > li > a img {
  border-radius: 0px;
}

.choice_d.choice_d_open > li a > span::after {
  content: "";
  margin-left: 0;
}

.choice_d.choice_d_open > li:nth-of-type(1) {
  display: none;
}

.choice_d.choice_d_open > li:nth-of-type(2) {
  border-top: 1px solid white;
}

.choice_d.choice_d_open > li:nth-last-of-type(1) {
  border: 0;
}

.choice_d.choice_d_open li span {
  padding: 0 15px 0 15px;
}

.choice_d.choice_d_open > li:nth-of-type(2) > a > img[src] {
  border-radius: 0;
}

.choice_d.choice_d_open > li + li {
  border-bottom: 1px solid white;
}

.choice_d.choice_d_open::-webkit-scrollbar {
  width: 10px;
  height: 11px;
}

.choice_d.choice_d_open::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}

.choice_d.choice_d_open {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.14) rgba(255, 255, 255, 0.4);
}

/* @media (pointer: fine) {

    .choice_d.choice_d_open {
        overflow: hidden;
    }
    
    .choice_d.choice_d_open:hover {
        overflow: auto;
    }
}*/
/*  
────────────────────────────
TODO:         >> Option ON
──────────────────────────── */
.choice_option_on:not(.choice_d > li > .choice_option_on) {
  background: rgba(255, 255, 255, 0.45);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.choice_d.choice_d.choice_d_open > li > .choice_option_on {
  background: rgba(255, 255, 255, 0.45);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/*  
────────────────────────────
TODO:         >> No Label
──────────────────────────── */
.choice_noLabel > li:nth-of-type(1) {
  display: none;
}

.choice_h.choice_noLabel > li:nth-of-type(2) span {
  padding-left: 15px;
}

.choice_h.choice_noLabel > li:nth-of-type(2) > a > img {
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.choice_v.choice_noLabel > li:nth-of-type(2) > a > img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.choice_d.choice_noLabel > li:nth-of-type(2) {
  display: inline-flex;
}

.choice_d.choice_noLabel > li:nth-of-type(2) span::after {
  content: "▼";
  margin-left: 5rem;
}

.choice_d.choice_noLabel > li:nth-of-type(2) > a > img {
  border-radius: 20px;
}

.choice_d.choice_noLabel.choice_d_open > li:nth-of-type(2) > a > img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.choice_d.choice_noLabel.choice_d_open > li:nth-of-type(2) span::after {
  content: "";
  margin-left: 0;
}

/*  
──────────────────────────────────────────────────────
TODO: Classes Para Serem Aplicadas Somente Via JS
────────────────────────────────────────────────────── */
.overflow_hidden {
  overflow: hidden;
}
