@charset "UTF-8";
/* gmes-defaults.css */
/*  
──────────────────────────────────────────────────────
TODO: Variáveis
──────────────────────────────────────────────────────*/
/* Apple: 16px em 320w, e 22px em 736w. */
/*  
──────────────────────────────────────────────────────
Modelo De Caixa Alternativo Global 
──────────────────────────────────────────────────────*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*  
──────────────────────────────────────────────────────
TODO: Textos
──────────────────────────────────────────────────────*/
p, dl, footer .footer-icons, form {
  margin-top: 16rem;
  margin-bottom: 16rem;
  margin-left: calc(9px + (2vw));
  margin-right: calc(9px + (2vw));
}

html {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-size: 1px;
  color: black;
}

div, span, h1, h2, h3, h4, h5, h6, p, a, em, i, strong, b, u,
ul, ol, li, dl, dt, dd, abbr, dfn, sub, sup, pre, var, kbd, samp,
code, time, address, blockquote, q, cite, figcaption, header,
nav, main, article, section, aside, footer, form, label, input,
textarea, select, button, fieldset, legend, table, tr, td, th, caption {
  font-size: 19rem;
}

header, main, article, section, aside, footer {
  font-size: 0;
}

a {
  color: blue;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: capitalize;
}

h1 {
  font-size: calc(38rem - (3 * 1rem));
  margin-top: calc(7rem - 1rem + 16rem);
  margin-bottom: calc(7rem - 1rem + 16rem);
}

h2 {
  font-size: calc(38rem - (3 * 2rem));
  margin-top: calc(7rem - 2rem + 16rem);
  margin-bottom: calc(7rem - 2rem + 16rem);
}

h3 {
  font-size: calc(38rem - (3 * 3rem));
  margin-top: calc(7rem - 3rem + 16rem);
  margin-bottom: calc(7rem - 3rem + 16rem);
}

h4 {
  font-size: calc(38rem - (3 * 4rem));
  margin-top: calc(7rem - 4rem + 16rem);
  margin-bottom: calc(7rem - 4rem + 16rem);
}

h5 {
  font-size: calc(38rem - (3 * 5rem));
  margin-top: calc(7rem - 5rem + 16rem);
  margin-bottom: calc(7rem - 5rem + 16rem);
}

h6 {
  font-size: calc(38rem - (3 * 6rem));
  margin-top: calc(7rem - 6rem + 16rem);
  margin-bottom: calc(7rem - 6rem + 16rem);
}

p {
  text-indent: 6rem;
  /* Sem justificar, usar: 4px */
}

ul, ol {
  margin-top: 16rem;
  margin-bottom: 16rem;
  margin-left: calc(2 * calc(9px + (2vw)));
  margin-right: calc(9px + (2vw));
}

dd {
  margin-left: calc(2 * calc(9px + (2vw)));
}

strong, b, em, i {
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

abbr {
  text-decoration: none;
}

dfn, var, address, cite {
  font-style: normal;
}

var, kbd, samp, code {
  font-family: "Times New Roman", Times, Georgia, serif;
}

pre {
  margin-left: calc(9px + (2vw));
  margin-right: calc(9px + (2vw));
  font-family: "Courier New", Courier, monospace;
}

.font-small {
  font-size: 16rem;
}

.font-smaller {
  font-size: 13rem;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.justify {
  text-align: justify;
}

.font-monospace {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.no-capitalize {
  text-transform: none;
}

/*  
──────────────────────────────────────────────────────
TODO
──────────────────────────────────────────────────────*/
body {
  min-width: 320px;
  margin: auto;
}

hr {
  margin-top: calc(2* 16rem);
  margin-bottom: calc(2* 16rem);
  margin-left: calc(9px + (2vw));
  margin-right: calc(9px + (2vw));
}

figcaption {
  text-align: center;
  font-size: 16rem;
}

video {
  width: 100%;
}

audio {
  height: 45rem;
  display: block;
  margin-left: calc(9px + (2vw));
}

.center-block {
  margin: auto;
}

.lm {
  /* Lateral margins */
  margin-left: calc(9px + (2vw));
  margin-right: calc(9px + (2vw));
}

.lb {
  /* Line break */
  margin-top: calc(1* 16rem);
  /* margin-bottom:  calc(1* 16rem); */
}

.lb2 {
  margin-bottom: calc(2* 16rem);
}

.lb3 {
  margin-bottom: calc(3* 16rem);
}

.line {
  border: 1px solid black;
}

/*  
──────────────────────────────────────────────────────
TODO: Seções De Layout
──────────────────────────────────────────────────────*/
.header-content-width, main, footer {
  max-width: 1024px;
  /* Padrão: 960-1300px */
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  background-color: black;
  background-image: linear-gradient(to bottom, #8fdfff 0%, #85d6ff 10%, #6bc6ff 25%, #70c6ff 37%, #75c8ff 50%, #57beff 51%, #85d2ff 83%, #ade7ff 100%);
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.6);
}

header #id-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #id-nav a {
  height: 48rem;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header #id-nav .logo {
  margin-left: 13px;
}

header .button-left {
  margin-right: -13px;
}

header #nav-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  background-image: linear-gradient(to bottom right, #75c8ff 0%, #57beff 10%, #a3ebff 33%, #85e4ff 55%, #c2fff5 90%, #c2fff5 100%);
}

header #nav-menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header #nav-menu ul li {
  border-top: 1px solid white;
}

header #nav-menu ul li:last-of-type {
  border-bottom: 1px solid white;
}

header #nav-menu ul li:last-of-type a span {
  font-size: 33rem;
  text-align: center;
  color: white;
}

header #nav-menu:target {
  display: flex;
  align-items: center;
}

footer .footer-icons {
  border-radius: 50px;
  background-color: black;
  background-image: linear-gradient(to bottom right, #75c8ff 0%, #57beff 10%, #85e4ff 55%, #c2fff5 90%, #c2fff5 100%);
  padding: 8px 0 3px;
  box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.22);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .footer-icons img {
  padding: 6px;
  border: 2px solid white;
  border-radius: 50%;
}

footer .copyright {
  font-size: 13rem;
  text-indent: 0;
  text-align: center;
  /*padding: 6px 0;
        margin: 14px 0 0;
        color: $menu-text-color;
        background-color: black;*/
}

/*  
──────────────────────────────────────────────────────
TODO: Formulários
──────────────────────────────────────────────────────*/
form {
  display: flow-root;
}

form fieldset {
  border-width: 0;
  margin-top: calc(1* 16rem);
  margin-bottom: calc(1* 16rem);
}

form fieldset p {
  margin-left: 15px;
  text-indent: 0;
}

form fieldset ul {
  margin-left: 15px;
}

form fieldset ul input[type="radio"] {
  margin-right: 6px;
}

form p {
  margin-left: 0;
  margin-right: 0;
}

form p {
  filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.18));
  /* */
}

form p label {
  display: inline-block;
  margin-bottom: 16rem;
  margin-left: 3px;
}

form p input, form p textarea {
  color: DarkGray;
  width: 100%;
  padding: 8rem 13rem;
  border: 1px solid #ededed;
  border-radius: 19px;
  margin: auto;
}

form p textarea {
  vertical-align: top;
  /* Alinha os <textarea>'s com seus rótulos */
  height: 84rem;
}

form p:nth-last-of-type(1) {
  filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.22));
  /* */
}

form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

form li + li {
  margin-top: 16rem;
}

form button {
  min-width: 120px;
  color: white;
  display: block;
  padding: 10rem 16rem;
  margin: auto;
  border: 0px solid rgba(0, 0, 0, 0.07);
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #c2eeff 0%, #9edfff 20%, #8ad2ff 50%, #66c2ff 74%, #75c8ff 100%);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -4px 5px 3px rgba(0, 0, 0, 0.15), inset 5px 5px 5px 0px rgba(255, 255, 255, 0.4);
}

form .widget-l {
  float: left;
  width: 47%;
}

form .widget-r {
  float: right;
  width: 47%;
}

form .textarea-2l {
  height: calc(62rem + ( (2 - 2) * 22rem));
}

form .textarea-3l {
  height: calc(62rem + ( (3 - 2) * 22rem));
}

form .textarea-4l {
  height: calc(62rem + ( (4 - 2) * 22rem));
}

form .textarea-5l {
  height: calc(62rem + ( (5 - 2) * 22rem));
}

form .textarea-6l {
  height: calc(62rem + ( (6 - 2) * 22rem));
}

form .textarea-7l {
  height: calc(62rem + ( (7 - 2) * 22rem));
}

form .textarea-8l {
  height: calc(62rem + ( (8 - 2) * 22rem));
}

form input[type="radio"] + label {
  margin-: 0;
  width-: 5%;
}

form input:focus, form textarea:focus, form button {
  outline: 0 solid black;
  /*  outline-color: rgba(0, 183, 255, 0.5); Destaque adicional para elementos focados  */
}
