@charset "UTF-8";
/* gmes-identity.css */
/*  
──────────────────────────────────────────────────────
TODO: Exemplos De Choice 
────────────────────────────────────────────────────── */
.choice_example_1 > :not(:nth-child(1)), .choice_example_2 > :not(:nth-child(1)), .choice_example_3 > :not(:nth-child(1)) {
  display: none;
}

.choice_example_1 > div, .choice_example_2 > div, .choice_example_3 > div {
  font-size: 19rem;
}
