/* gmes-defaults.css */

/* 
──────────────────────────────────────────────────────
TODO: Variáveis
────────────────────────────────────────────────────── */

$font_size: 19rem; 
$central_maxWidth: 800px; /* Padrão: 600-700px. */
$margin_horizontal: 20px; /* Apple: 16px em 320w, e 22px em 736w. */
$margin_vertical: 16rem;
$font_small: 16rem;
$font_smaller: 14rem;
$font_default: 'Times New Roman', Times, Georgia, serif;
$font_monospace: 'Courier New', Courier, monospace;
$button_height: 48px;
$button_height_small: 40px;
$table_border1_width: 1px;
$table_border2_width: 1px;
 
/* ------ Breakpoints ------ */  

$tablet: 501px; // Largura máxima de um celular.
/* $pc: 1000px; */ // Largura mínima de um PC.

$nav_expand: 565px; // VÍNCULO: Váriável JS // Altura mínima de um celular.
$hr_stop: calc(#{$central_maxWidth} + 60px);

/* ------ Cores E Planos De Fundos ------ */

$color_theme: hsla(193,100%,50%, 1);

$color_text: black;
$color_text_clear: hsl(0, 0%, 68%);
$color_text_menu: white; 
$color_text_form: $color_text; 
$color_text_form_placeholder: $color_text_clear;
$color_text_form_select: $color_text_clear;

$color_border_table: hsl(0, 0%, 85%);
$color_border_form: hsl(0, 0%, 80%); 
$color_border_kbd: hsl(0, 0%, 95%);

$color_shadow_headerNav: hsla(0, 0%, 0%, 0.6);
$color_shadow_headerNav_rounded: hsla(0, 0%, 0%, 0.28);
$color_shadow_headerNav_button: hsla(0, 0%, 0%, 0.28);
$color_shadow_nav_options: hsla(0, 0%, 0%, 0.5);
$color_shadow_nav_subOptions: hsla(0, 0%, 0%, 0.26);
$color_shadow_footer: hsla(0, 0%, 0%, 0.22);
 
$color_scrollbar_thumb: hsla(0, 0%, 0%, 0.14);
$color_scrollbar_thumb_firefox: hsla(0, 0%, 0%, 0.14);
$color_scrollbar_track: hsla(0, 0%, 100%, 0.4);
$color_scrollbar_track_firefox: transparent;
$color_menu_scrollbar_thumb: hsla(0, 0%, 0%, 0.14);  
$color_menu_scrollbar_thumb_firefox: hsla(0, 0%, 0%, 0.14); 
$color_menu_scrollbar_track: transparent;
$color_menu_scrollbar_track_firefox: transparent;
$color_menuRounded_scrollbar_thumb: hsla(0, 0%, 0%, 0.14);  
$color_menuRounded_scrollbar_thumb_firefox: hsla(0, 0%, 0%, 0.14); 
$color_menuRounded_scrollbar_track: transparent;
$color_menuRounded_scrollbar_track_firefox: hsla(0, 0%, 100%, 0.4);

$bg_header: url(../../images/bg_header.png) center /100% 100%;
$bg_nav_1: url(../../images/bg_nav_1.png)  center /100% 100%;
$bg_nav_2: url(../../images/bg_nav_2.png)  center /100% 100%;
$bg_nav_selector: url(../../images/bg_nav_selector.png)  center /100% 100%; // VÍNCULO: Váriável JS
$bg_footer_icons: url(../../images/bg_footer_icons.png)  center /100% 100%;

$bg_button: url(../../images/bg_button.png)  center /100% 100%;
$bg_select: url(../../images/bg_select.png)  center /100% 100%; // <- Precisa ser do tipo PNG!
$bg_table_tr_hover: hsla(193,100%,98%, 1); 
$bg_kbd: hsl(0, 0%, 86%);
$bg_choice_label: url(../../images/bg_choice_label.png)  center /100% 100%;
$bg_choice_d_open: url(../../images/bg_choice_d_open.png)  center /100% 100%;

/*
$bg_header: linear-gradient(to bottom, hsl(197,100%,78%) 0%,hsl(200,100%,76%) 10%,hsl(203,100%,71%) 25%,hsl(204,100%,72%) 37%,hsl(204,100%,73%) 50%,hsl(203,100%,67%) 51%,hsl(202,100%,76%) 83%,hsl(198, 100%, 84%) 100%); 
$bg_nav_1: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%,hsl(193,100%,82%) 33%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);
$bg_footer_icons: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);
$bg_button: linear-gradient(to bottom right,hsl(197,100%,88%) 0%,hsl(200,100%,81%) 20%,hsl(203,100%,77%) 50%,hsl(204,100%,70%) 74%,hsl(204,100%,73%) 100%);
*/

/* ------ z-index's ------ */

$zIndex_nav: 64;
$zIndex_choice_d_open: 128;

/*  
──────────────────────────────────────────────────────
Modelo De Caixa Alternativo Global 
────────────────────────────────────────────────────── */

html {
    box-sizing: border-box;
} 

*, *::before, *::after {
    box-sizing: inherit;
}
       
/*  
──────────────────────────────────────────────────────
TODO: Margens
────────────────────────────────────────────────────── */

.offset { /* Lateral margins */    
    margin-left: $margin_horizontal;
    margin-right: $margin_horizontal;
}

.offset.choice_h { 
    display: flex;
    @extend .offset;
}

.offset.choice_v, .offset.choice_d { 
    @extend .offset;
}

%margins {
    margin-top: $margin_vertical;
    margin-bottom: $margin_vertical;
    @extend .offset; 
}

/*  
──────────────────────────────────────────────────────
TODO: Textos
────────────────────────────────────────────────────── */

html {
    font-family: $font_default;
    font-size: 1px;
    color: $color_text; 
}

span, h1, h2, h3, h4, h5, h6, p, a, em, i, strong, b, u, ul, ol, li, dt, dd, 
abbr, dfn, sub, sup, pre, var, kbd, samp, code, time, address, blockquote, 
q, cite, figcaption, form, label, input, textarea, select, button, fieldset, 
legend, table, tr, td, th, caption {
    font-size: $font_size; 
}

div, header, nav, main, article, section, aside, footer {
    font-size: 0;
}

a { 
    color: blue; 
    text-decoration: none;
} 

h1, h2, h3, h4, h5, h6 { 
    text-align: center; 
    /* text-transform: capitalize; */
    @extend .offset;
}

@for $i from 1 through 6 { 
	h#{$i} {
        font-size: calc(50rem - (5 * #{$i}rem)); // Geralmente o h1 é 40rem e o h6 é 20rem.
        margin-top: calc(7rem - #{$i}rem + #{$margin_vertical});
        margin-bottom: calc(7rem - #{$i}rem + #{$margin_vertical});
	}
}

p, li, ul, ol, dl, dt, dd {
    line-height: 1.5;
}

p {
    @extend %margins;
    text-indent: 6rem; /* Sem justificar, usar: 4px */
}

ul, ol {
    margin-top: $margin_vertical;
    margin-bottom: $margin_vertical;
    margin-left: calc(1 * #{$margin_horizontal} + 21px);
    margin-right: $margin_horizontal;
}

ul { list-style-type: "➭ "; }
// ul ul { list-style-type: disc; }
ul ul { list-style-type: "● "; }
// ul ul { list-style-type: "• "; }
// ul ul { list-style-type: "-› "; }
ul ul ul { list-style-type: "- "; }

dl {
    @extend %margins;
}

dt { 
    font-weight: bold; 
    margin-top: $margin_vertical;
}
 
dd {
    margin-left: 0;
}

dt + dd {
    margin-top: $margin_vertical;
}

dt:nth-of-type(1) {
    margin-top: 0;
}

@media (min-width: $tablet) {

    dd {
        margin-left: 30rem;
    }
}

strong, b, em, i {
    font-weight: normal; 
    font-style: normal;
    text-decoration: underline;
}

abbr {
    text-decoration: none;
}

dfn, var, address, cite {
    font-style: normal;
}

var, kbd, samp, code {
    font-family: $font_default;
}

kbd {
    font-size: 15rem;
    background: $bg_kbd;
    padding: 1px 5px;
    border: 4px outset $color_border_kbd;
    border-radius: 5px;
}

code {
    font-family: $font_monospace;
}

pre {
    @extend .offset;
    font-family: $font_monospace;
}

.font-small {
    font-size: $font_small;
}

.font-smaller {
    font-size: $font_smaller;
}
/*
.underline {
  text-decoration: underline;
}

.bold { 
    font-weight: bold; 
}

.italic {
    font-style: italic;
}
*/
.font-monospace {
    font-family: $font_monospace;
}

.text_container {
    font-size: $font_size; 
    padding: 7px 13px 10px;
    border: 1px solid $color_border_form;  
    border-radius: 20px;
    min-height: $button_height_small;
}

p.text_container { // Regra necessária, pois o tamanho do conteúdo do <p> é diferente dos outros elementos (como do <div>).
    padding: 4px 13px 6px;
}

.spaced_items > li + li, .spaced_items > dd + dd {
    margin-top: $margin_vertical;
}

//.arrow_2 { list-style-type: "➢ "; } 
.star { list-style-type: "✰ "; }

/*  
──────────────────────────────────────────────────────
TODO: Seções De Layout
────────────────────────────────────────────────────── */
/*  
────────────────────────────
TODO:    > Central
──────────────────────────── */

.central {
    max-width: $central_maxWidth; 
    margin-left: auto;
    margin-right: auto;
}
/*  
────────────────────────────
TODO:    > Header-nav
──────────────────────────── */

.header-content {
    @extend .central;
}

.block-hack { /* Hack necessário pois o Safari não aceita 'position: sticky'. */
    height: $button_height;
}

.header-nav {

    position: fixed; top: 0; left: 0; right: 0;
    z-index: $zIndex_nav;
    color: $color_text_menu; 
    background-color: $color_theme;
    background: $bg_header;
    box-shadow: 0 0px 10px 0px $color_shadow_headerNav;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 0;
            margin-top: -1px;
            font-weight: normal;
        }

        a {
            height: $button_height;
            color: inherit;
            text-decoration: none;
            display: flex; 
            justify-content: center;
            align-items: center;
        }

        .logo {
            margin-left: 14px;

            img {
                width: 22px;
                margin-right: 8px;
            }
        }
    }

    .button-left {
        margin-right: -13px;
    }

    .nav-menu-button {
        margin-right: 1px;

        :nth-child(2) {
            display: none; 
            justify-content: center;
            align-items: center;
            width: 48px;
            font-size: 32px;
            text-align: center;
            color: $color_text_menu;
        }
    }

/*  
────────────────────────────
TODO:         >> Menu
──────────────────────────── */

    .nav-menu { 
        display: none;
        position: fixed;
        top: $button_height; bottom: 0; left: 0; right: 0;
        //background-color: $color_theme;

        ul {
            /*position: fixed;
            top: calc(2 * #{$button_height}); */
            width: 100%;
            //max-height: 100%;
            max-height: calc(100% - (1 * #{$button_height}));
            margin: 0;
            padding: 0;
            list-style-type: none;
            background: $bg_nav_1;
            overflow: auto;

            li {
                border-top: 1px solid $color_text_menu;

                div { // <- Sub opções
                    display: none;

                    ul {
                        background: $bg_nav_selector; 
                    }
                }
            }

            li:nth-last-child(2) {
                border-bottom: 1px solid $color_text_menu;
                }
            }

            li:nth-last-child(1) {
                border-top: 0;
                border-bottom: 0;

                /*a{
                    span {
                        font-size: 32rem;
                        text-align: center;
                        color: $color_text_menu;
                    }
                }*/
            }

        > ul {
            margin: $button_height 0 0 0;
            box-shadow: 0 0px 10px 0px $color_shadow_nav_options;
        }

        > ul > li:last-of-type {
            display: none;
        }

        > ul > li > a img {
            margin-right: 6px; 
        }

        ul li ul a {
            height: auto;
            min-height: $button_height;

            span {
                display: flex;
                margin-left: 16px;
                margin-right: 16px;

                img {
                    margin-right: 8px;
                }
            }
        }
    }

    // Scrollbars:

    .nav-menu ul::-webkit-scrollbar { // Entire bar
        width: 10px;
        height: 11px;
    }
    
    .nav-menu ul::-webkit-scrollbar-thumb { // Bar pointer
        background: $color_menuRounded_scrollbar_thumb;    
        border-radius: 10px; 
    }
    
    .nav-menu ul::-webkit-scrollbar-track {   // Bar background
        background: $color_menuRounded_scrollbar_track;
    }

    .nav-menu ul {
        scrollbar-width: thin;
        scrollbar-color: $color_menuRounded_scrollbar_thumb_firefox $color_menuRounded_scrollbar_track_firefox;
    }

    @media (pointer: fine) {

        .nav-menu ul {
            //overflow: hidden;
        }
        
        .nav-menu ul:hover {
            overflow: auto;
        }
    }
/*  
────────────────────────────
TODO:         >> Expandido
──────────────────────────── */

    @media (min-width: $nav_expand) {

        .nav .nav-menu-button {
            display: none;
        }

        .nav-menu {
            position: static;
            display: inline-block;
            background: 0;
        }

        .nav-menu > ul, .nav-menu > ul > li {
            display: inline-block;
        }

        .nav-menu > ul {
            margin: 0;
            box-shadow: 0px 0px 0px 0px hsla(0, 0%, 0%, 0);
            display: flex;
            justify-content: space-between;
            background: $bg_header;
        }

        .nav-menu > ul > li {
            border-width: 0;
        }

        .nav-menu > ul > li + li {
            margin-left: 20px;
        }

        .nav-menu > ul > li:nth-last-of-type(2) {
            border-width: 0;
        }

        .nav-menu > ul > li:nth-last-of-type(1) {
            border-width: 0;
            display: block;
            margin-left: 11px;

            a {
                font-size: 32rem;

                img {
                    width: $button_height;
                    margin-right: 2px;
                }
            }
        }

        // Sub opções - Espaço Fora:

        .nav-menu ul li div { 
            display: none;
            position: fixed; top: $button_height; left: 0; bottom: 0; right: 0;
            background: $bg_nav_2;
            text-align: center;
        }

        // Sub opções - Menu:

        .nav-menu ul li div ul {

            display: inline-block;
            width: auto; 
            min-width: 240px; 
            max-width: calc(100% - (2 * #{$button_height}));
            max-height: calc(100% - (2 * #{$button_height})); 
            border-radius: 25px;
            margin-top: $button_height;
            background-color: $color_theme;
            background: $bg_nav_1;
            box-shadow: 6px 6px 13px 0px $color_shadow_nav_subOptions;

            li:nth-child(1) {
                border-top: 0;
            }

            li:hover {
                // background: $bg_nav_selector;
            }

            li:nth-of-type(1):hover {
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
            }

            li:nth-last-child(1):hover {
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }
    }
}

// Header-nav em smartphone (arredondado):

@media (min-width: $nav_expand) and (max-height: $tablet) {

    .header-nav {
        left: 8px; right: 8px;
    }

    .header-nav {
        border-radius: calc(#{$button_height}/2);
    }

    .nav-menu > ul {
        border-top-right-radius: calc(#{$button_height}/2);
        border-bottom-right-radius: calc(#{$button_height}/2);
    }

    .header-nav {
        box-shadow: 3px 3px 6px 0px $color_shadow_headerNav_rounded;
    }

    .header-nav .nav > :nth-child(1) {
        margin-left: 4px;
    }

    .header-nav .nav-menu > ul > li:nth-last-of-type(1) {
        margin-right: 6px; 
    }
}

// Show header button: 

.headerNav-button{
    display: none; 
    width: $button_height;
    height: $button_height;
    border-radius: 11px;

    position: fixed; top: 9px; right: 9px;
    z-index: $zIndex_nav;
    background: $bg_header;
    font-size: $font_size;
    box-shadow: 3px 3px 6px 0px $color_shadow_headerNav_button;

    img {
        width: inherit;
        height: inherit;
    }

    /*
    border-radius: 0px;
    border-bottom-left-radius: 6px;
    top: 0px; right: 0px;
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.6);
    */
}

/*  
────────────────────────────
TODO:    > Footer
──────────────────────────── */

.footer-content {
    margin-top: calc(2 * #{$margin_vertical});

    .footer-icons {
        border-radius: 50px;
        background-color: $color_theme;
        background: $bg_footer_icons;
        padding: 6px 0 0px; 
        @extend %margins;
        box-shadow: 4px 6px 9px 0px $color_shadow_footer;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
            padding: 6px;
            border: 2px solid $color_text_menu;
            border-radius: 50%;
        }
    }

    .copyright {
        font-size: $font_smaller;
        text-indent: 0;
        text-align: center;

        /*padding: 6px 0;
        margin: 14px 0 0;
        color: $color_text_menu;
        background-color: black;*/
    }
}

/*  
────────────────────────────
TODO:    > Classes
──────────────────────────── */
/*
.nav_poster_margins { // <- Desisti desta ideia.
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
} 
*/
.nav_expanded_subOptions_h {
    @media (min-width: $nav_expand) {
        
        overflow-x: auto;
        white-space: nowrap;
        font-size: 0;

        li {
            display: inline-block;
            border-width: 0 !important;

            /*> a {
                display: inline-flex;
                flex-direction: column;
            }*/
        }
    }
}

.nav_subOptions_textBelow { // Serve para ambos os modos horizontal e vertical das sub opções.
    li > a {
        display: inline-flex;
        flex-direction: column;
    }
}

.nav_compact_subOptions_textBelow { // Serve para ambos os modos horizontal e vertical das sub opções.

    @media (max-width: $nav_expand) {
        li > a {
            display: inline-flex;
            flex-direction: column;
        }
    }
}

.nav_expanded_subOptions_textBelow { // Serve para ambos os modos horizontal e vertical das sub opções.

    @media (min-width: $nav_expand) {
        li > a {
            display: inline-flex;
            flex-direction: column;
        }
    }
}

/*  
──────────────────────────────────────────────────────
TODO: Multimídia
────────────────────────────────────────────────────── */

/*.textImg_evenSize {
    max-width: 18px; 
    margin-bottom: -4px;
}*/

.textImg {
    max-width: 19px; 
    margin-bottom: -5px;
}

.textImg_Size {
    max-width: 19px;
}

figcaption {
    margin-top: calc(#{$margin_vertical}/2); 
    text-align: center;
    font-size: $font_small;  
}

audio {
    height: 45rem;
    display: block;
    max-width: calc(100vw - 2 * #{$margin_horizontal});
    margin-top: $margin_vertical;
    margin-bottom: $margin_vertical;
}

figure.center {
    text-align: center;
}

/*  
──────────────────────────────────────────────────────
TODO: Tabelas
────────────────────────────────────────────────────── */

table {
    max-width: calc(100% - 2 * #{$margin_horizontal});
    margin: $margin_vertical auto;
    border: $table_border1_width solid $color_theme;
    border-collapse: collapse;
    caption-side: bottom;
    font-weight: normal;

    th {
        color: $color_theme;
        border: $table_border1_width solid $color_theme;
        font-weight: normal;
        font-weight: 500;
    }

    tr:hover {
        background: $bg_table_tr_hover;
    }

    tr:nth-of-type(1):hover {
        background: 0;
    }

    tr + tr {
        border-top: $table_border2_width solid $color_border_table;
    }

    td + td {
        border-left: $table_border2_width solid $color_border_table;
    }

    th, td {
        padding: 6px;
    }

    td {
        text-align: center;
    }

    caption {
        margin-top: calc(#{$margin_vertical}/2); 
        @extend .font-smaller;
    }

    ul, ol { /* <- Regra para caso tenha lista na tabela. */
        padding-left: 27rem;
        margin: 0;
    }
}
/*
.table-style-1 {
     Estilo padrão. 
}
*/

.table-style-2 {
    width: 100%;
    max-width: none;
    border-width: 0;
    border-bottom: $table_border1_width solid $color_theme;

    tr:nth-of-type(1) {
        border-bottom: $table_border1_width solid $color_theme;
    }

    th {
        border-width: 0;
    }

    th:nth-child(1) {
        color: $color_text;
    }

    td + td {
        border-width: 0;
    }
}

@media (min-width: $tablet) {
    .table-style-2 {
        width: auto;
        max-width: calc(100% - 2 * #{$margin_horizontal});
    }
}

.table-style-3 {
    border-width: 0;

    tr:hover {
        outline: 1px solid $color_theme;
    }

    tr:nth-of-type(1):hover {
        background: $bg_table_tr_hover;
    }

    tr + tr {
        border-width: 0;
    }

    th {
        border-width: 0;
        text-align: left;
    }
}

/*----- .table-style-4 -----*/

@media (min-width: 0) and (max-width:  $tablet) {
    .table-style-4 {
        border-width: 0;

        tr {
            border-width: 0;
            margin-bottom: $margin_vertical;
        }

        tr:hover {
            background: 0;
        }

        tr, th, td {
            display: block;
        }

        th {
            border-width: 0;
            border-bottom: $table_border1_width solid $color_theme;
            text-align: center;
        }

        td {
            text-align: left;
        }

        td:nth-of-type(1) {
            margin-top: 16rem;
        }

        li + li {
            margin-top: 20rem;
        }
    }
}

@media (min-width: $tablet) {
    .table-style-4 {
        border-width: 0;

        tr {
            border-width: 0;
        }

        tr:hover {
            background: 0;
        }

        th, td {
            border-width: 0;
        }

        td {
            text-align: left;
        }
    }
} 

/*  
──────────────────────────────────────────────────────
TODO: Formulários
────────────────────────────────────────────────────── */

/*  
────────────────────────────
TODO:    > fieldset e label
──────────────────────────── */

/*form {
    margin: $margin_vertical auto;
}*/

fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
    @extend .offset;

    strong {
        text-decoration: none;
    }
}

label {
    display: block;
    //-moz-width: fit-content;
    //width: fit-content;
    @extend %margins;

    strong {
        text-decoration: none;
    }
}

fieldset:disabled label {
    color: $color_text_clear;
}

/*  
────────────────────────────
TODO:    > Widgets
──────────────────────────── */

/*  
────────────────────────────
TODO:         >> inputs e textarea
──────────────────────────── */

input[type="text"], input[type="email"], textarea {

    color: $color_text_form;
    width: calc(100% - 40px); 
    min-height: $button_height_small;
    border: 1px solid $color_border_form; 
    margin-top: $margin_vertical;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    /* border: 1px solid hsl(0, 0%, 93%); 
    filter: drop-shadow(0px 6px 9px hsla(0, 0%, 0%, 0.18)); <- Traz inconsistências entre os navegadores. */
}

input::placeholder, textarea::placeholder {
    color: $color_text_form_placeholder;
} 

input[type="text"], input[type="email"] {
    padding: 7rem 13rem 9rem;
}

textarea {
    height: 40rem;
    padding: 4rem 13rem 0rem;
    line-height: 1.5;
    vertical-align: top; /* Alinha os <textarea>'s com seus rótulos */
}

// Scrollbar:

textarea::-webkit-scrollbar { // Entire bar
    width: 10px;
    height: 11px;
}

textarea::-webkit-scrollbar-thumb { // Bar pointer
    background: $color_scrollbar_thumb;    
    border-radius: 10px;
}

textarea::-webkit-scrollbar-track {   // Bar background
    background: $color_scrollbar_track;
}

textarea {
    scrollbar-width: auto;
    scrollbar-color: $color_scrollbar_thumb_firefox $color_scrollbar_track_firefox;
} 

input[type="file"] {
    color: transparent;
    border-radius: 0;
    filter: none;
    width: min-content;
    margin-top: $margin_vertical;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 8px;
}











/**/
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 44px;
    height: 24px;
    // width: 51px;
    // height: 31px;
    border-radius: 12px;
    background: hsl(0, 0%, 93%);
    transition: all 0.3s; 
}

input[type="checkbox"]:checked {
    background-color: $color_theme;
    background-color: hsl(115, 100%, 66%);
    transition: all 0.3s; 
}

input[type="checkbox"]::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: hsl(0, 0%, 100%); 
    position: relative;
    top: 3px;
    left: 4px;
    transition: all 0.3s; 
}

input[type="checkbox"]:checked::before {
    left: 23px;
    transition: all 0.3s; 
}

input[type="checkbox"]:disabled {
    background: hsl(0, 0%, 93%);
}

input[type="checkbox"]:disabled::before {
    background-color: transparent; 
    border: 3px dashed white; 
}












/*  
────────────────────────────
TODO:         >> select
──────────────────────────── */

select {
    border-radius: 5px; /* <- Traz inconsistências entre os navegadores. */
    height: $button_height_small;
    color: $color_text_form_select;
    background: hsla(0, 0%, 100%, 0);
    background: $bg_select;
    border: 1px solid $color_border_form;
    padding: 0 6px;
}

/*  
────────────────────────────
TODO:         >> button
──────────────────────────── */

button {
    min-width: 120px;
    color: $color_text_menu;
    padding: 10rem 0;
    border-width: 0;
    border-radius: 100px;
    margin-top: $margin_vertical;
    margin-bottom: $margin_vertical;
    background: $bg_button;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1);
    box-shadow: 
    inset 0px -4px 5px 3px hsla(0, 0%, 0%, 0.15),
    inset 5px 5px 5px 0px hsla(0, 0%, 100%, 0.4);
}

button:disabled {
    opacity: 0.5;
}

/*  
────────────────────────────
TODO:    > Efeito De Focus
──────────────────────────── */

input:focus:not(input[type="checkbox"]), textarea:focus {
    outline: 0px dotted;
    border: 1px solid $color_theme;
}

input[type="file"]:focus {
    outline: 1px solid $color_theme;
}

input[type="radio"]:focus/*, input[type="checkbox"]:focus*/ {
    outline: 1px solid $color_theme;
}

select:focus {
    outline: 0px dotted;
    border: 1px solid $color_theme;
    /* border-radius: 100px; <- Traz inconsistências entre os navegadores. */
}

button:focus {
    outline: 2px dotted $color_theme;
}

/*  
────────────────────────────
TODO:    > Classes
──────────────────────────── */

@for $i from 1 through 30 { 
    .textarea-#{$i}l {
        height: calc(40rem + ( (#{$i} - 1) * 28rem));
    } 
}

/*  
──────────────────────────────────────────────────────
TODO: Outros
────────────────────────────────────────────────────── */

body {
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: $margin_vertical;
    margin-bottom: $margin_vertical;
    @extend .offset;
}

@media (min-width: $hr_stop) {

    hr {
        margin-left: 0;
        margin-right: 0;
    }
}

a, button:not(button[disabled]), input[type="radio"]:not(fieldset[disabled] input[type="radio"]), input[type="checkbox"]:not(fieldset[disabled] input[type="checkbox"]), select {
    cursor: pointer;
}

.cursor_pointer {
    cursor: pointer;
}

/*
.content-left {
    text-align: left;
}

.content-center {
    text-align: center;
}

.content-right {
    text-align: right;
}

.content-justify {
    text-align: justify;
}
*/

.center:not(figure) {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center.choice_h {
    display: flex;
}

/*.center.choice_v, .center.choice_d {
    
}*/

.lb { /* Line break */
    margin-top: calc(1* #{$margin_vertical}); 
    margin-bottom:  calc(1* #{$margin_vertical}); /*  */
}

.lb2 { 
    margin-top:  calc(2* #{$margin_vertical});
    margin-bottom:  calc(2* #{$margin_vertical});
}

.lb3 {
    margin-top:  calc(3* #{$margin_vertical});
    margin-bottom:  calc(3* #{$margin_vertical});
}

.line {
    border: 1px solid black;
}

.hidden {
    display: none;
}

.button_height_small {
    height: $button_height_small;
}

/*
──────────────────────────────────────────────────────
TODO: Componentes
────────────────────────────────────────────────────── */

/*  
────────────────────────────
TODO:    > Outdoor
──────────────────────────── */

img.outdoor, video.outdoor {
    width: 100%;
}

@media (min-width: $tablet) {
    img.outdoor, video.outdoor {
        display: block;
        width: calc(100% - (2 * #{$margin_horizontal}) );
        margin-left: auto;
        margin-right: auto;
    }
}

figure.outdoor img {
        width: 100%;
}

@media (min-width: $tablet) {
    figure.outdoor {
        width: calc(100% - (2 * #{$margin_horizontal}) );
        margin-left: auto;
        margin-right: auto;
    }
}

/*  
────────────────────────────
TODO:    > Gallery
──────────────────────────── */

.gallery img {
    width: 50%;
}

@media (min-width: $tablet) { 

    .gallery {
        margin-left: $margin_horizontal;
        margin-right: $margin_horizontal;
    }

    .gallery img { 
        width: 25%; 
    } 
}

/*  
────────────────────────────
TODO:    > Slider
──────────────────────────── */

.slider {
    overflow-x: auto;
    white-space: nowrap;
}

@media (min-width: $tablet) {  

    .slider { 
        margin-left: $margin_horizontal;
        margin-right: $margin_horizontal;
    }
}

@media (pointer: fine) {

    .slider {
        overflow-x: hidden;
    }
    
    .slider:hover {
        overflow-x: auto;
    }
}

.slider img, .slider picture {
    width: 94%;
}

// Slider scrollbar:

.slider::-webkit-scrollbar { // Entire bar
    height: 12px; /* 15 */ 
}

.slider::-webkit-scrollbar-thumb { // Bar pointer
    background: hsl(0, 0%, 74%);
    border-radius: 10px;
    /* border: 3px outset adjust-color($color_theme, $lightness: 25%); */
}
   
.slider::-webkit-scrollbar-track { // Bar background
    background: hsl(0, 0%, 98%); 
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 10px; /* */ 
}

/*  
────────────────────────────
TODO:    > Choice 
──────────────────────────── */

.choice_h, .choice_v, .choice_d {

    display: inline-block;
    font-size: 0;
    -moz-width: fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
    list-style-type: none;
    //border: 1px solid adjust-color($color_theme, $lightness: -1%);
}

.choice_h > li a, .choice_v > li a, .choice_d > li a {

    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.choice_h > li span, .choice_v > li span, .choice_d > li span {

    display: inline-flex;
    justify-content: center;
    align-items: center; 
    color: $color_text_menu;
}

.choice_h > li span > img, .choice_v > li span > img, .choice_d > li span > img {

    margin-right: 6px;
}

/*  
────────────────────────────
TODO:         >> Horizontal
──────────────────────────── */

.choice_h {

    display: inline-flex;
    border-radius: 1000px;
    background: $bg_button;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1);
    box-shadow: 
    inset 0px -4px 5px 3px hsla(0, 0%, 0%, 0.15),
    inset 5px 5px 5px 0px hsla(0, 0%, 100%, 0.4);

    > li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-height: $button_height_small;

        a {
            min-height: $button_height_small;
        }

        span {
            padding: 0 10px;
        }
    }

    > li:nth-of-type(1) {
        border-right: 1px solid $color_text_menu; 
        border-top-left-radius: 1000px;
        border-bottom-left-radius: 1000px;

        background: $bg_choice_label;
        text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1);
        box-shadow: 
        inset 0px -4px 5px 3px hsla(0, 0%, 0%, 0.15),
        inset 5px 5px 5px 0px hsla(0, 0%, 100%, 0.4);
        
        span {
            padding-left: 15px;
        }
    }
     
    > li:nth-of-type(2) {
        border-left-width: 0px;
    }

    > li:nth-last-of-type(1) { 

        > a > img {
            border-top-right-radius: 1000px;
            border-bottom-right-radius: 1000px;
        }

        span {
            padding-right: 15px;
        }
    }

    > li a:hover {
        background: hsla(0, 0%, 100%, 0.45);
        text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.3);
    }

    > li:nth-of-type(1) a:hover {
        background: hsla(0, 0%, 100%, 0);
        text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1);
    }

    > li + li {
        border-left: 1px solid $color_text_menu;
    }
}

/*  
────────────────────────────
TODO:         >> Vertical
──────────────────────────── */

.choice_v {

    border-radius: 20px;
    background: $bg_button;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1);
    box-shadow: 
    inset 0px -4px 5px 3px hsla(0, 0%, 0%, 0.15),
    inset 5px 5px 5px 0px hsla(0, 0%, 100%, 0.4);

    > li {
        display: flex;
        align-items: center;
        min-height: $button_height;

        a {
            min-height: $button_height;
        }

        span {
            padding: 0px 19px 0px 17px;
        }
    }

    > li a:hover {
        background: hsla(0, 0%, 100%, 0.45);
        text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.3);
    }

    > li:nth-of-type(1) a:hover {
        background: hsla(0, 0%, 100%, 0);
        text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1);
    }

    > li:nth-of-type(1) {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        justify-content: center;
        background: $bg_choice_label;
        text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1);
        box-shadow: 
        inset 0px -4px 5px 3px hsla(0, 0%, 0%, 0.15),
        inset 5px 5px 5px 0px hsla(0, 0%, 100%, 0.4);

        a {
            display: flex;
            justify-content: center;
        }
    }

    > li:nth-last-of-type(1) {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        > a > img {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
   
    > li + li {
        border-top: 1px solid $color_text_menu;
    }
}

/*  
────────────────────────────
TODO:         >> Dropdown
──────────────────────────── */

.choice_d {

    border-radius: 20px;
    background: $bg_button;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1);
    box-shadow: 
    inset 0px -4px 5px 3px hsla(0, 0%, 0%, 0.15),
    inset 5px 5px 5px 0px hsla(0, 0%, 100%, 0.4);

    > li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-height: $button_height_small;

        span {
            padding: 0 11px 0 15px;
        }

        > a > img {
            border-radius: 20px;
        }

        span::after { 
            content: "▼";
            margin-left: 5rem;
        }
    }

    > li:not(:nth-of-type(1)) {
        display: none;
    }

    > li:nth-of-type(1) {

        background: 0;

        cursor: pointer;

        > img {
            border-radius: 20px;
        }
    }
}

// Dropdown - Open:

.choice_d.choice_d_open {

    position: fixed; top: 0; bottom: 0; left: 0; right: 0;
    z-index: $zIndex_choice_d_open;
    width: auto;
    margin: 0;
    border-radius: 0px;
    background: $bg_choice_d_open;
    overflow-y: auto;

    > li {
        display: flex;
        flex-direction: column;
        justify-content: center; // <- Neste caso, alinha verticalmente!

        position: relative; top: $button_height_small;
        width: 100%;

        > a {
            flex-grow: 1;
            justify-content: center;

            img {
                border-radius: 0px;
            }
        }

        a > span::after {

            content: "";
            margin-left: 0;
        }
    }

    > li:nth-of-type(1) {
        display: none;
    }

    > li:nth-of-type(2) {
        border-top: 1px solid $color_text_menu;
    }

    > li:nth-last-of-type(1) { // Esta regra só deve existir caso o último 'li' tiver sido criado via JS.
        border: 0;
    }

    li span {
        padding: 0 15px 0 15px;
    }

    > li:nth-of-type(2) > a > img[src] {
        border-radius: 0;
    }

    // > li a:hover { background: hsla(0, 0%, 100%, 0.45); text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.3); } // hover

    > li + li {
        border-bottom: 1px solid $color_text_menu;
    }

    /* @media (min-width: $tablet) and (min-height: $tablet) {  > li { position: relative; top: calc(3 * #{$button_height_small}); } } */
}

// Dropdown - Open - Scrollbars:

.choice_d.choice_d_open::-webkit-scrollbar { // Entire bar
    width: 10px;
    height: 11px;
}

.choice_d.choice_d_open::-webkit-scrollbar-thumb { // Bar pointer
    background: $color_menu_scrollbar_thumb;    
    border-radius: 10px;
}

.choice_d.choice_d_open::-webkit-scrollbar-track {   // Bar background
    background: $color_menu_scrollbar_track; 
}

.choice_d.choice_d_open {
    scrollbar-width: auto;
    scrollbar-color: $color_menu_scrollbar_thumb_firefox $color_menu_scrollbar_track_firefox;
}

/* @media (pointer: fine) {

    .choice_d.choice_d_open {
        overflow: hidden;
    }
    
    .choice_d.choice_d_open:hover {
        overflow: auto;
    }
}*/

/*  
────────────────────────────
TODO:         >> Option ON
──────────────────────────── */

.choice_option_on:not(.choice_d > li > .choice_option_on) { // .choice_h > li > a.choice_option_on, .choice_v > li > a.choice_option_on

    background: hsla(0, 0%, 100%, 0.45);
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.3);
}

.choice_d.choice_d.choice_d_open > li > .choice_option_on { // .choice_h > li > a.choice_option_on, .choice_v > li > a.choice_option_on

    background: hsla(0, 0%, 100%, 0.45);
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.3);
}

/*  
────────────────────────────
TODO:         >> No Label
──────────────────────────── */

.choice_noLabel {

    > li:nth-of-type(1) {
        display: none;
    }
}

.choice_h.choice_noLabel {

    > li:nth-of-type(2) span {

        padding-left: 15px;
    }

    > li:nth-of-type(2) > a > img {
            border-top-left-radius: 1000px;
            border-bottom-left-radius: 1000px;
    }
}

.choice_v.choice_noLabel > li:nth-of-type(2) > a > img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
}

.choice_d.choice_noLabel {

    > li:nth-of-type(2) {

        display: inline-flex;
    
        span::after { 
            content: "▼";
            margin-left: 5rem;
        }

        > a > img {
            border-radius: 20px;
        }
    }
}

.choice_d.choice_noLabel.choice_d_open > li:nth-of-type(2) > a > img  {

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.choice_d.choice_noLabel.choice_d_open > li:nth-of-type(2) span::after {

    content: "";
    margin-left: 0;
}

/*  
──────────────────────────────────────────────────────
TODO: Classes Para Serem Aplicadas Somente Via JS
────────────────────────────────────────────────────── */

.overflow_hidden {
    overflow: hidden;
}



























.check {

    display: flex;
    align-items: center;
    -moz-width: fit-content;
    width: fit-content;
    margin-top: $margin_vertical;
    margin-bottom: $margin_vertical;
    @extend .offset; 
    cursor: pointer;

    > :nth-child(1) {
        width: 44px;
        height: 24px;
        // width: 51px;
        // height: 31px;
        border-radius: 12px;
        margin-right: 8px;
        background: hsl(0, 0%, 93%);
        transition: all 0.3s; 
    }

    > :nth-child(1)::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background-color: hsl(0, 0%, 100%); 
        position: relative;
        top: 3px;
        left: 4px;
        transition: all 0.3s; 
    }

    > :nth-child(2) {
        font-size: $font_size;
    }
} 

.check.checked { 

    > :nth-child(1) {
        background-color: $color_theme;
        background-color: hsl(115, 100%, 66%);
        transition: all 0.3s; 
    }

    > :nth-child(1)::before {
        left: 23px;
        transition: all 0.3s; 
    }
}

.check.disabled { 

    > :nth-child(1) {
        background: hsl(0, 0%, 93%);
    }

    > :nth-child(1)::before {
        background-color: transparent; 
        border: 3px dashed white; 
    }
}