/* gmes-defaults.css */

/* 
──────────────────────────────────────────────────────
TODO: Variáveis
────────────────────────────────────────────────────── */

$central-max_width: 800px; /* Padrão: 600-700px. */
$margin-horizontal: 20px; /* Apple: 16px em 320w, e 22px em 736w. */
$margin-vertical: 16rem;
$font-small: 16rem;
$font-smaller: 14rem;
$font-default: 'Times New Roman', Times, Georgia, serif;
$font-monospace: 'Courier New', Courier, monospace;
$button-height: 48rem;
 
/* ------ Breakpoints ------ */

$tablet: 501px;
$pc: 1000px;

$nav-open: 501px;
$hr-stop: calc(#{$central-max_width} + 60px); 

/* ------ Cores E Planos De Fundos ------ */

$color-theme: hsla(193,100%,50%, 1);

$color-text: black;
$color-text-menu: white;
$color-text-form: hsl(0, 0%, 60%); 

$color-scrollbar-thumb: hsla(0, 0%, 0%, 0.14);
$color-scrollbar-track: hsla(0, 0%, 100%, 0.4);

$background-header: url(../../images/background-header.png) center /100% 100%;
$background-nav-1: url(../../images/background-nav-1.png)  center /100% 100%;
$background-nav-2: url(../../images/background-nav-2.png)  center /100% 100%;
$background-nav-selector: url(../../images/background-nav-selector.png)  center /100% 100%;
$background-footer-icons: url(../../images/background-footer-icons.png)  center /100% 100%;
$background-button: url(../../images/background-button.png);

/*
$background-header: linear-gradient(to bottom, hsl(197,100%,78%) 0%,hsl(200,100%,76%) 10%,hsl(203,100%,71%) 25%,hsl(204,100%,72%) 37%,hsl(204,100%,73%) 50%,hsl(203,100%,67%) 51%,hsl(202,100%,76%) 83%,hsl(198, 100%, 84%) 100%); 
$background-nav-1: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%,hsl(193,100%,82%) 33%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);
$background-footer-icons: linear-gradient(to bottom right, hsl(204,100%,73%) 0%,hsl(203,100%,67%) 10%, hsl(193,100%,76%) 55%, hsl(170, 100%, 88%) 90%,hsl(170, 100%, 88%) 100%);
$background-button: linear-gradient(to bottom right,hsl(197,100%,88%) 0%,hsl(200,100%,81%) 20%,hsl(203,100%,77%) 50%,hsl(204,100%,70%) 74%,hsl(204,100%,73%) 100%);
*/

/*  
──────────────────────────────────────────────────────
Modelo De Caixa Alternativo Global 
────────────────────────────────────────────────────── */

html {
    box-sizing: border-box;
} 

*, *::before, *::after {
    box-sizing: inherit;
}
       
/*  
──────────────────────────────────────────────────────
TODO: Margens
────────────────────────────────────────────────────── */

.offset { /* Lateral margins */    
    margin-left: $margin-horizontal;
    margin-right: $margin-horizontal;
}

%margins {
    margin-top: $margin-vertical;
    margin-bottom: $margin-vertical;
    @extend .offset; 
}

/*  
──────────────────────────────────────────────────────
TODO: Textos
────────────────────────────────────────────────────── */

html {
    font-family: $font-default;
    font-size: 1px;
    color: $color-text; 
}

span, h1, h2, h3, h4, h5, h6, p, a, em, i, strong, b, u, ul, ol, li, dl, dt, dd, 
abbr, dfn, sub, sup, pre, var, kbd, samp, code, time, address, blockquote, 
q, cite, figcaption, form, label, input, textarea, select, button, fieldset, 
legend, table, tr, td, th, caption {
    font-size: 19rem; 
}

div, header, nav, main, article, section, aside, footer {
    font-size: 0;
}

a { 
    color: blue; 
    text-decoration: none;
} 

h1, h2, h3, h4, h5, h6 { 
    text-align: center; 
    /* text-transform: capitalize; */
    @extend .offset;
}

@for $i from 1 through 6 { 
	h#{$i} {
        font-size: calc(44rem - (4 * #{$i}rem));
        margin-top: calc(7rem - #{$i}rem + #{$margin-vertical});
        margin-bottom: calc(7rem - #{$i}rem + #{$margin-vertical});
	}
}
      
p {
    @extend %margins;
    text-indent: 6rem; /* Sem justificar, usar: 4px */
}

ul, ol {
    margin-top: $margin-vertical;
    margin-bottom: $margin-vertical;
    margin-left: calc(1 * #{$margin-horizontal} + 21px);
    margin-right: $margin-horizontal;
}

p, li, ul, ol, dl, dt, dd {
    line-height: 1.5;
}

dl {
    @extend %margins;
}
 
dd {
    margin-left: 40rem;
}

strong, b, em, i {
    font-weight: normal; 
    font-style: normal;
    text-decoration: underline;
}

abbr {
    text-decoration: none;
}

dfn, var, address, cite {
    font-style: normal;
}

var, kbd, samp, code {
    font-family: $font-default;
}

pre {
    @extend .offset;
    font-family: $font-monospace;
}

.font-small {
    font-size: $font-small;
}

.font-smaller {
    font-size: $font-smaller;
}
/*
.underline {
  text-decoration: underline;
}

.bold { 
    font-weight: bold; 
}

.italic {
    font-style: italic;
}
*/
.font-monospace {
    font-family: $font-monospace;
}

.spaced_items li + li {
    margin-top: 20rem;
}

/*  
──────────────────────────────────────────────────────
TODO: Seções De Layout
────────────────────────────────────────────────────── */
/*  
────────────────────────────
TODO:    > Central
──────────────────────────── */

.central {
    max-width: $central-max_width; 
    margin-left: auto;
    margin-right: auto;
}
/*  
────────────────────────────
TODO:    > Header-nav
──────────────────────────── */

.header-content {
    @extend .central;
}

.block-hack { /* Hack necessário pois o Safari não aceita 'position: sticky'. */
    height: $button-height;
}

.header-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: $color-text-menu; 
    background-color: $color-theme;
    background: $background-header;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.6);

    #id-nav {
        display: flex; 
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 0;
            margin-top: -1px;
            font-weight: normal;
        }

        a {
            height: $button-height;
            color: inherit;
            text-decoration: none;
            display: flex; 
            justify-content: center;
            align-items: center;
        }

        .logo {
            margin-left: 13px;

            img {
                width: 22px;
                margin-right: 8px;
            }
        }
    }

    .button-left {
        margin-right: -13px;
    }

// Menu Da Navegação:

    #nav-menu { 
        display: none;
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;
        background-color: $color-theme;
        background: $background-nav-1;
        overflow: auto;

        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                border-top: 1px solid $color-text-menu;

                div { // <- Subcategorias
                    display: none;

                    ul {
                        background: $background-nav-selector; 
                    }
                }
            }

            li:last-of-type {
                border-bottom: 1px solid $color-text-menu;

                a{
                    span {
                        font-size: 32rem;
                        text-align: center;
                        color: $color-text-menu;
                    }
                }
            }
        }

        > ul > li:last-of-type {
            display: none;
        }

        ul li ul a {
            height: auto;
            min-height: $button-height;
            padding-left: 16px;
            padding-right: 16px;
        }

        ul li ul a img {
            padding-top: 16px;
            padding-right: 8px;
            padding-bottom: 16px;
        }
    }

    @media (min-width: 0) and (max-width: $nav-open) {

        #nav-menu:target {
            display: flex;
            align-items: center;
        }
    }
/*  
────────────────────────────
TODO:         >> Nav Expandido
──────────────────────────── */

    @media (min-width: $nav-open) {

        #id-nav .nav-button-right {
            display: none;
        }

        #nav-menu {
            position: static;
            display: inline-block;
            background: 0;
        }

        #nav-menu > ul, #nav-menu > ul > li {
            display: inline-block;
        }

        #nav-menu > ul {
            display: flex;
            justify-content: space-between;
        }

        #nav-menu > ul > li {
            border-width: 0;
        }

        #nav-menu > ul > li + li {
            margin-left: 20px;
        }

        #nav-menu > ul > li:nth-last-of-type(1) {
            border-width: 0;
            margin-right: 13px; 
            display: block;
        }

        // Subcategorias - Espaço Fora:

        #nav-menu ul li div { 
            display: none;
            position: fixed; top: $button-height; left: 0; bottom: 0; right: 0;
            background: $background-nav-2;
            text-align: center;
        }

        // Subcategorias - Menu:

        #nav-menu ul li div ul {

            display: inline-block;
            width: auto; 
            min-width: 240px; 
            max-width: calc(100% - (2 * #{$button-height}));
            max-height: calc(100% - (2 * #{$button-height})); 
            overflow-y: auto;
            border-radius: 25px;
            margin-top: $button-height;
            background-color: $color-theme;
            background: $background-nav-1;
            box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.26);

            li:nth-child(1) {
                border-top: 0;
            }

            li:nth-last-child(1) {
                border-bottom: 0;
            }

            li:hover {
                // background: $background-nav-selector;
            }

            li:nth-of-type(1):hover {
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
            }

            li:nth-last-child(1):hover {
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }

        // Subcategorias - Scrollbar:

        #nav-menu ul li div ul::-webkit-scrollbar { // Entire bar
            width: 8px;
        }
        
        #nav-menu ul li div ul::-webkit-scrollbar-thumb { // Bar pointer
            background: $color-scrollbar-thumb;    
            border-radius: 10px;
        }
        
        #nav-menu ul li div ul::-webkit-scrollbar-track {  } // Bar background
        
        #nav-menu ul li div ul {
            scrollbar-width: thin;
            scrollbar-color: $color-scrollbar-thumb $color-scrollbar-track;
        }

        @media (pointer: fine) {

            #nav-menu ul li div ul {
                overflow: hidden;
            }
            
            #nav-menu ul li div ul:hover {
                overflow-y: auto;
            }
        }
    }
}

// show-header-button:

.show-header-button{
    display: none; 
    width: $button-height;
    height: $button-height;
    border-radius: 11px;

    position: fixed; top: 9px; right: 9px;
    background: $background-header;
    font-size: 19rem;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.28);

    /*
    border-radius: 0px;
    border-bottom-left-radius: 6px;
    top: 0px; right: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    */
}

/*  
────────────────────────────
TODO:    > Footer
──────────────────────────── */

.footer-content {
    margin-top: calc(2 * #{$margin-vertical});

    .footer-icons {
        border-radius: 50px;
        background-color: $color-theme;
        background: $background-footer-icons;
        padding: 6px 0 0px; 
        @extend %margins;
        box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.22);
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
            padding: 6px;
            border: 2px solid $color-text-menu;
            border-radius: 50%;
        }
    }

    .copyright {
        font-size: $font-smaller;
        text-indent: 0;
        text-align: center;

        /*padding: 6px 0;
        margin: 14px 0 0;
        color: $color-text-menu;
        background-color: black;*/
    }
}

/*  
──────────────────────────────────────────────────────
TODO: Formulários
────────────────────────────────────────────────────── */

form {
    margin: $margin-vertical auto;

    label {
        display: block;
        @extend %margins;

        input, textarea {
            color: $color-text-form;
            width: 100%;
            padding: 8rem 13rem;
            border: 1px solid hsl(0, 0%, 80%); 
            border-radius: 19px;
            margin-top: $margin-vertical;
            /* 
            border: 1px solid hsl(0, 0%, 93%); 
            filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.18)); <- Traz inconsistências entre os navegadores. */
        }

        input[type="file"] {
            color: transparent;
            border-radius: 0;
            filter: none;
        }

        input[type="radio"], input[type="checkbox"] {
            width: auto;
            margin-top: 0;
            margin-right: 6px;
        }

        textarea {
            vertical-align: top; /* Alinha os <textarea>'s com seus rótulos */
            height: 84rem;
        }
    }

    input:placeholder-shown {
        color: red;
    }

    p {
        text-indent: 0;
    }

    fieldset {
        border-width: 0;
    }

    select {
        display: block;
        margin-top: $margin-vertical;
        margin-bottom: $margin-vertical;
        /* border-radius: 100px; <- Traz inconsistências entre os navegadores. */
    }

    button {
        min-width: 120px;
        color: $color-text-menu;
        padding: 10rem 0;
        border-width: 0;
        border-radius: 1000px;
        margin-top: $margin-vertical;
        margin-bottom: $margin-vertical;
        background-image: $background-button;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 
        inset 0px -4px 5px 3px rgba(0, 0, 0, 0.15),
        inset 5px 5px 5px 0px rgba(255, 255, 255, 0.40);
    }

    button:disabled {
        opacity: 0.5;
    }

    @for $i from 2 through 8 { 
        .textarea-#{$i}l {
            height: calc(62rem + ( (#{$i} - 2) * 22rem));
        } 
    }

    strong {
        text-decoration: none;
    }

    input:focus, textarea:focus {
        outline: 0px dotted;
        border: 1px solid $color-theme;
    }

    input[type="file"]:focus {
        outline: 1px solid $color-theme;
    }

    input[type="radio"]:focus, input[type="checkbox"]:focus {
        outline: 1px solid $color-theme;
    }

    select:focus {
        outline: 0px dotted;
        border: 1px solid $color-theme;
        /* border-radius: 100px; <- Traz inconsistências entre os navegadores. */
    }

    button:focus {
        outline: 2px dotted $color-theme;
    }
}
 
/*  
──────────────────────────────────────────────────────
TODO: Tabelas
────────────────────────────────────────────────────── */

table {
    max-width: calc(100% - 2 * #{$margin-horizontal});
    margin: $margin-vertical auto;
    border: 2px solid $color-theme;
    border-collapse: collapse;
    caption-side: bottom;

    th {
        color: $color-theme;
        border: 2px solid $color-theme;
    }

    tr + tr {
        border-top: 1px solid hsl(0, 0%, 85%);
    }

    td + td {
        border-left: 1px solid hsl(0, 0%, 85%);
    }

    th, td {
        padding: 6px;
    }

    td {
        text-align: center;
    }

    caption {
        margin-top: calc(#{$margin-vertical}/2); 
        @extend .font-smaller;
    }

    ul, ol { /* <- Regra para caso tenha lista na tabela. */
        padding-left: 27rem;
        margin: 0;
    }
}
/*
.table-style-1 {
     Estilo padrão. 
}
*/

.table-style-2 {
    width: 100%;
    max-width: none;
    border-width: 0;
    border-bottom: 2px solid $color-theme;

    tr:nth-of-type(1) {
        border-bottom: 2px solid $color-theme;
    }

    th {
        border-width: 0;
    }

    th:nth-child(1) {
        color: $color-text;
    }

    td + td {
        border-width: 0;
    }
}

@media (min-width: $tablet) {
    .table-style-2 {
        width: auto;
        max-width: calc(100% - 2 * #{$margin-horizontal});
    }
}

.table-style-3 {
    border-width: 0;

    tr + tr {
        border-width: 0;
    }

    th {
        border-width: 0;
        text-align: left;
    }
}

/*----- .table-style-4 -----*/

@media (min-width: 0) and (max-width:  $tablet) {
    .table-style-4 {
        border-width: 0;

        tr {
            border-width: 0;
        }

        tr {
            margin-bottom: $margin-vertical;
        }

        tr, th, td {
            display: block;
        }

        th {
            border-width: 0;
            border-bottom: 1px solid;
            text-align: center;
        }

        td {
            text-align: left;
        }

        td:nth-of-type(1) {
            margin-top: 16rem;
        }

        li + li {
            margin-top: 20rem;
        }
    }
}

@media (min-width: $tablet) {
    .table-style-4 {
        border-width: 0;

        tr {
            border-width: 0;
        }

        th, td {
            border-width: 0;
        }

        td {
            text-align: left;
        }
    }
}

/*  
──────────────────────────────────────────────────────
TODO: Others
────────────────────────────────────────────────────── */

body {
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: $margin-vertical;
    margin-bottom: $margin-vertical;
    @extend .offset;
}

@media (min-width: $hr-stop) {

    hr {
        margin-left: 0;
        margin-right: 0;
    }
}

figure > div {
    display: inline-block;
}

figcaption {
    margin-top: calc(#{$margin-vertical}/2); 
    text-align: center;
    font-size: $font-small;  
}

audio {
    height: 45rem;
    display: block;
    max-width: calc(100vw - 2 * #{$margin-horizontal});
    margin-top: $margin-vertical;
    margin-bottom: $margin-vertical;
}
/*
.content-left {
    text-align: left;
}

.content-center {
    text-align: center;
}

.content-right {
    text-align: right;
}

.content-justify {
    text-align: justify;
}
*/
.center:not(figure) {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.center {
    text-align: center;
}

.lb { /* Line break */
    margin-top: calc(1* #{$margin-vertical}); 
    margin-bottom:  calc(1* #{$margin-vertical}); /*  */
}

.lb2 { 
    margin-top:  calc(2* #{$margin-vertical});
    margin-bottom:  calc(2* #{$margin-vertical});
}

.lb3 {
    margin-top:  calc(3* #{$margin-vertical});
    margin-bottom:  calc(3* #{$margin-vertical});
}

.line {
    border: 1px solid black;
}

.hidden {
    display: none;
}

img.outdoor, video.outdoor {
    width: 100%;
}

@media (min-width: $tablet) {
    img.outdoor, video.outdoor {
        display: block;
        width: calc(100% - (2 * #{$margin-horizontal}) );
        margin-left: auto;
        margin-right: auto;
    }
}

figure.outdoor div {
    width: 100%;

    img {
        width: 100%;
    }
}

@media (min-width: $tablet) {
    figure.outdoor {
        width: calc(100% - (2 * #{$margin-horizontal}) );
        margin-left: auto;
        margin-right: auto;
    }
}

/* ---------------------------- */

/*  
──────────────────────────────────────────────────────
TODO: Gallery
────────────────────────────────────────────────────── */

.gallery img {
    width: 50%;
}

@media (min-width: $tablet) { 

    .gallery {
        margin-left: $margin-horizontal;
        margin-right: $margin-horizontal;
    }

    .gallery img { 
        width: 25%; 
    } 
}

/*  
──────────────────────────────────────────────────────
TODO: Carousel
────────────────────────────────────────────────────── */

.carousel {
    overflow-x: auto;
    white-space: nowrap;
}

@media (min-width: $tablet) {  

    .carousel { 
        margin-left: $margin-horizontal;
        margin-right: $margin-horizontal;
    }
}

@media (pointer: fine) {

    .carousel {
        overflow-x: hidden;
    }
    
    .carousel:hover {
        overflow-x: auto;
    }
}

.carousel img, .carousel picture {
    width: 94%;
}

// Carousel scrollbar:

.carousel::-webkit-scrollbar { // Entire bar
    height: 12px; /* 15 */ 
}

.carousel::-webkit-scrollbar-thumb { // Bar pointer
    background: hsl(0, 0%, 74%);
    border-radius: 10px;
    /* border: 3px outset adjust-color($color-theme, $lightness: 25%); */
}
   
.carousel::-webkit-scrollbar-track { // Bar background
    background: hsl(0, 0%, 98%); 
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 10px; /* */ 
} 
























 


 





