/* gmes-identity.css */

/*  
──────────────────────────────────────────────────────
TODO: Sintaxes
────────────────────────────────────────────────────── */

sc1 { color: red; }
sc2 { color: blue; }
sc3 { color: green; }
sc4 { color: purple; }

/*  
──────────────────────────────────────────────────────
TODO: Exemplos De Choice 
────────────────────────────────────────────────────── */

$font_size: 19rem; 

.choice_example_1, .choice_example_2, .choice_example_3 {

    > :not(:nth-child(1)) {
        display: none;
    }
}

.choice_example_1 > div, .choice_example_2 > div, .choice_example_3 > div {

    font-size: $font_size; 
}