/* gmes-identity.css */
 
/* 
──────────────────────────────────────────────────────
TODO: 
────────────────────────────────────────────────────── */

$tablet-1: 501px; /* Breakpoints */
   
.download a {
    display: block;
    width: 180px;
    margin: auto;
}

.download a + a {
    margin-top: 15rem;
}

/*
.types-table, .types-table tr:nth-of-type(1) th {
    border-top: 0;
    //border-bottom: 2px solid;
}

.types-table, .types-table tr th {
    border-left: 0;
}

.types-table tr:nth-of-type(1) th {
    border-left: 2px solid;
}
*/

.table-box {
    //width: 92.1%;
    height: calc(100vh - 195px);
    //height: 83.2vh;
    z-index: 2;
    margin: auto;
    margin-bottom: 63px;
    border: 1px solid hsl(193,100%,50%);
    border-radius: 0;
    border-top-left-radius: 20px;
    overflow: auto;
}

.types-table {
    margin: 0;
}

.types-table tr:nth-of-type(1) {
    position: sticky;
    top: 0;
    left: 0;
   z-index: 1;
   border-bottom: 1px solid hsla(193,100%,50%, 0%);
   //outline: 1px solid hsl(193,100%,50%);
}

.types-table tr th {
    /**/position: sticky;
    top: 0;
    left: 0;
   // z-index: 1;
   background-color: white; 
   //background-color: hsl(193,100%,97%);
   //border-bottom: 1px solid hsla(193,100%,50%, 0%);
   outline: 1px solid hsl(193,100%,50%);
}

.types-table tr:nth-of-type(1) td {
    position: sticky;
    top: 0;
    left: 0;
   z-index: 1;
   background-color: white;
   //background-color: hsl(193,100%,97%);
   outline: 1px solid hsl(193,100%,50%);
}

.types-table tr td:nth-of-type(1) {
    border-left: 0;
}

.types-table tr td {
    border-left: 1px solid hsl(0, 0%, 85%);
}

.types-table tr {
    border: 0;
}

.types-table tr td {
    border-bottom: 1px solid hsl(0, 0%, 85%);
}

.types-table tr:nth-of-type(1) td {
    border-bottom: 0;
}

.types-table tr:nth-last-of-type(1) td {
    border-bottom: 1px solid hsl(193,100%,50%);
}

.types-table .type-icon {
    width: 48px;
}

.types-table th {
    line-height: 0px;
}

.show-or-hide-plasma {
    //display: none;
}

.types-table .effect-icon {
    width: 36px;
    padding-top: 4px;
}

@media (max-width: $tablet-1) {
    .types-table tr:nth-of-type(1), .types-table tr th, .types-table tr:nth-of-type(1) td {
        position: static;  
    }
}