/* gmes-identity.css */
 
/* 
──────────────────────────────────────────────────────
TODO: 
────────────────────────────────────────────────────── */
   
.download a {
    display: block;
    width: 180px;
    margin: auto;
}

.download a + a {
    margin-top: 15rem;
}