/* gmes-defaults.css */
/*  
──────────────────────────────────────────────────────
Modelo De Caixa Alternativo Global 
──────────────────────────────────────────────────────*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
      
/*  
──────────────────────────────────────────────────────
Textos
──────────────────────────────────────────────────────*/
      
html {
    font-size: 1px;
}

html, var, kbd, samp, code {
    font-family: 'Times New Roman', Times, Georgia, serif;
}

* {
    font-size: 16rem;
}

a { 
    color: blue; 
} 

h1, h2, h3, h4, h5, h6 { 
    margin-top: 22rem;
    margin-bottom: 22rem;
    font-size: 32rem;
    text-align: center; 
    text-transform: capitalize;
}
      
p {
    margin: 16rem;
    text-align: justify;
    text-indent: 6rem; /* Sem justificar, usar: 4px */
}

ul, ol {
    margin-top: 16rem;
    margin-bottom: 16rem;
    margin-left: 32rem;
    margin-right: 16rem;
}

dl {
    margin-top: 16rem;
    margin-bottom: 16rem;
    margin-left: 16rem;
    margin-right: 16rem;
}

dd {
    margin-left: 32rem;
}

strong, b, em, i {
    font-weight: normal; 
    font-style: normal;
    text-decoration: underline;
}

abbr {
    text-decoration: none;
}

dfn, var, address {
    font-style: normal;
}

pre {
    margin-left: 16rem;
    margin-right: 16rem;
    font-family: 'Courier New', Courier, monospace;
}

.underline {
  text-decoration: underline;
}

.bold { 
    font-weight: bold; 
}

.italic {
    font-style: italic;
}

.font-monospace {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

/*  
──────────────────────────────────────────────────────

──────────────────────────────────────────────────────*/

body {
    min-width: 320px;
    margin: auto;
}

hr {
    margin-top: 16rem;
    margin-bottom: 16rem;
    margin-left: 16rem;
    margin-right: 16rem;
}

.lm { /* Lateral margins */
    margin-left: 16rem;
    margin-right: 16rem;
}

.lb { /* Line break */
    margin-top: 16rem;
    margin-bottom: 16rem;
}

/*
body {
    max-width: 1024px; /* Padrão: 960-1300px *//*
}

.lb { margin-top: 30px; } 
.lb-bottom { margin-bottom: 30px; }

*/