/* ——————[ Configurações v7 ]—————— */

/* ——————[ Modelo De Caixa Alternativo Global ]——————  

html { box-sizing: border-box; } 
*, *::before, *::after { box-sizing:inherit; }  */

/* ——————[ Redefinição Global Do Espaço Em Branco ]—————— */

* { margin: 0; padding: 0; } 
body { margin: 0.5rem; } 
h1 { margin: 1.34rem 0; } 
h2 { margin: 1.245rem 0; } 
h3 { margin: 1.17rem 0; } 
h4 { margin: 1.33rem 0; } 
h5 { margin: 1.386rem 0; } 
h6 { margin: 1.561rem 0; } 
p { margin: 0.95rem 0; } 

ul, ol { 
  margin: 1rem 0px; 
  padding-left: 2.5rem; 
} 

/* ——————[ Meu Estilo ]—————— */  

/* Para os treinamentos v1: */

html {
  font-family: Palatino, Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

/* Para os treinamentos v2: 

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: ????? px;
}*/

/* Para a web: 

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;? 
}

body { width: 100%; min-width: 375px; max-width: 1024px; margin: auto; padding: 20px; }

.bold { font-weight: bold; }

a { color: blue; } 

h1, h2, h3, h4, h5, h6 { 
  text-align: center; 
  text-decoration: underline; 
  text-transform: capitalize;
}

p { 
  text-align: justify;
  text-indent: 0.55rem; 
}

ul { padding-left: 1.5rem; }

li { margin-bottom: 8px; }

.destaque {
  text-decoration: underline;
}

.lb { margin-top: 30px; } 
.lb-bottom { margin-bottom: 30px; }

*/

/* ——————[ Configuração Pro Pages No Computador ]——————

html { background-color: LightGrey; } 

body { 
  width: 482px; 
  min-height: calc(100vh - 30px); 
  background-color: white; 
  padding: 14px 8px; 
  border: 1px solid rgba(0, 0, 0, 0.3); 
  margin: 0;

  margin-left: calc(100% - 500px); 

  margin: auto;
}  */

/* ——————[ Configuração Do Textastic Pro Pages ]—————— */

/* No HTML, habilite a tag:
<meta name="viewport" content="width=482px">

body { 
	margin: 20px 0 0;
} */

/* ——————[ Configuração Para Criar Resumos ]—————— 

.ex { 
  background-color: hsl(0, 0%, 97%); 
  padding: 10px; 
  border-radius: 20px; 
} 

.ex p:nth-child(1) { 
  text-align: center; 
} 

.ex_category { font-weight: bold; } 

pre { font-family: inherit; }
*/